<!DOCTYPE html>
<html lang="en">
  <head>
      <title>TAKE A TRIPS</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

      {% block headers %}
      {% endblock %}

  </head>
  <body>
      <nav>
          <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="border-radius:0px;">
              <a class="navbar-brand" href="{%url 'clientapp:chome' %}" style="font-weight: 600; font-size:25px; color:orange; ">Take a Trips</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <!-- 상단 좌측 메뉴 / 도시이름 -->
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'clientapp:citymain' citydetails.id %}"> 
                      <img src="{{ citydetails.logo.url }}" style="width: 24px;" /> {{ citydetails.nameeng }} 
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  
                  <!-- 상단 우측 메뉴 / 로그인,아웃 -->
                  {% if user.is_authenticated %}
                  <!-- 만약 로그인이 되어있으면 로그아웃 버튼이 나타나도록 -->
                  <li class="nav-item" style="position:absolute; top: 10px; right: 50px; display: flex;">
                    <a class="nav-link" href="#"> {{ current_user }} </a>
                    <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
                  </li>
                  {% else %}
                  <!-- 로그인되어 있지 않으면 기존 버튼 그대로 -->
                  <li class="nav-item" style="position:absolute; top: 10px; right: 100px;">
                    <a class="nav-link" href="{% url 'account:signup' %}">SignUp</a>
                  </li>
                  <li class="nav-item" style="position:absolute; top: 10px; right: 50px;">
                    <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
          </nav>
      </nav>

    {% block contents %}
    {% endblock %}

    {% block subcontents %}
    {% endblock %}

    <!-- Footer -->
    {% block footers %}
    <footer class="page-footer font-small blue" style="background-color:#212529; margin-top:0px; ">
        <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
          <a href="#"> Take a Trips</a>
        </div>
    </footer>
    {% endblock %}
    <!-- Footer -->
  </body>
</html>