{% extends 'client/cbase.html' %}
{% load static %}


{% block headcontent %}
<style class="cp-pen-styles">
@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: 'Polar';
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 42.5%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
}

svg {
  display: block;
  overflow: visible;
}
.slider-container {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.firstPg{
  visibility: hidden;
}
.sImgBtn{
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  bottom: 12rem;
}
.sline{
  z-index: 3;
  background: #fff;
  opacity: 0.5;
  height: 0.07rem;
  width: 100%;
  bottom: 5rem;
  display: table-caption;
}
.skipChar{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 6%;
  bottom: 0rem;
  text-align: center;
  display: table;
}
.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 8rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("{% static 'imgs/client/1.png' %}");
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("{% static 'imgs/client/2.png' %}");
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("{% static 'imgs/client/3.png' %}");
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("{% static 'imgs/client/4.png' %}");
}
.slide:nth-child(5) {
  left: 400%;
}
.slide:nth-child(5) .slide__bg {
  left: -200%;
  background-image: url("{% static 'imgs/client/5.png' %}");
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  left: 12%;
  color: #fff;
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 5%;
  }
}
.slide__text-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
</style>
{% endblock %}


{% block content %}
<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <ul class="slider-pagi"></ul>

  <div class="slider">
    <div class="slide slide-0 active">
      <div class="slide__bg"></div>
      <div style="position:relative; height:100%; width:100%; z-index:3; text-align:center; display:table;">
        <span style="display:table-cell; vertical-align:middle;">
          <img style="width:70%;" src="{% static 'imgs/client/logo.png' %}">
        </span>
      </div>
    </div>
    <div class="slide slide-1 ">
      <div class="slide__bg"></div>
      <div style="position:relative; height:20%; width:100%; z-index:3; text-align:center; display:table;">
        <span style="display:table-cell; vertical-align:middle;">
          <img style="width:40%;" src="{% static 'imgs/client/logo.png' %}">
        </span>
      </div>
      <div class="slide__content">
        <div class="slide__text" style="top: 19%;">
          <font size="5rem"> Let's make your favorite</font> <font size="5rem" color="#FFD10D"> Pin </font>
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <div class="slide__text" style="top: 12%;">
          <font size="5rem" color="#FFD10D"> Jump </font> <font size="5rem"> to the city of your choice </font>
        </div>
      </div>
    </div>
    <div class="slide slide-3">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <div class="slide__text" style="top: 12%;">
          <font size="5rem" color="#FFD10D"> Pick </font> <font size="5rem"> the place you want to go </font>
        </div>
      </div>
    </div>
    <div class="slide slide-4">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <div class="slide__text" style="top: 9%;">
          <font size="5rem"> Here we go! </font><br>
          <font size="5rem"> Let's enjoy playing now </font><font size="5rem" color="#FFD10D"> Fun! </font>
        </div>
      </div>
      <div class="sImgBtn">
        <a href="{% url 'clientend:cmain' %}"><img style="width:70%;" src="{% static 'imgs/client/btn.png' %}"></a>
      </div>
    </div>
  </div>

  <div class="skipChar">
    <div class="sline"></div>

      <span style="color:#fff; font-size:2.5rem; display:table-cell; vertical-align:middle;">
        <strong><a href="{% url 'clientend:cmain' %}" style="text-decoration:none; color:#fff"> SKIP </a></strong>
      </span>

  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/cpen.js' %}"></script>
{% endblock %}
