{% extends 'client/citysubase.html'%}
{% load i18n static %}

{% block headers %}
<link rel=stylesheet href="{% static 'css/main.css' %}">
<script src="{% static 'js/bootstrap-waterfall.js' %}"></script>

<style>
    .card {
        border-radius: 13px;
    }
    .card-img {
        border-radius: 12px;
    }
    .card-imgsm {
        height: 118px;
        width: 150px;
        float: left;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 13px;
        border-top-left-radius: 13px;
        border-top-right-radius: 0px;
    }
    a {
        text-decoration: none!important;
    }
</style>

{% endblock %}

{% block subcontents %}

<!-- 도시 대표 이미지  4개.. -->
<div class="card-deck" style="padding: 0 45px;">
    <div class="card bg-gray" style="height: 220px;border: none;">
        <div class="card-body text-center p-0">
            <img class="card-img" style="height: 100%;" src="{{ citydetails.picture1.url }}" alt="Card image">
            <!-- <div class="card-img-overlay">
                <h4 class="card-title">광화문</h4>
            </div> -->
        </div>
    </div>
    <div class="card bg-gray" style="height: 220px;border: none;">
        <div class="card-body text-center p-0">
            <img class="card-img" style="height: 100%;" src="{{ citydetails.picture2.url }}" alt="Card image">
            <!-- <div class="card-img-overlay">
                <h4 class="card-title">경복궁</h4>
            </div> -->
        </div>
    </div>
    <div class="card bg-gray" style="height: 220px;border: none;">
        <div class="card-body text-center p-0">
            <img class="card-img" style="height: 100%;" src="{{ citydetails.picture3.url }}" alt="Card image">
            <!-- <div class="card-img-overlay">
                <h4 class="card-title">동대문디자인플라자</h4>
            </div> -->
        </div>
    </div>
    <div class="card bg-gray" style="height: 220px;border: none;">
        <div class="card-body text-center p-0">
            <img class="card-img" style="height: 100%;" src="{{ citydetails.picture4.url }}" alt="Card image">
            <!-- <div class="card-img-overlay">
                <h4 class="card-title">북악스카이웨이</h4>
            </div> -->
        </div>
    </div>
</div>

 <!-- 도시 이름과 설명..  -->
<div class="card" style="padding: 0 25px;border: none;">
    <div class="card-body">

        {% if LANGUAGE_CODE == 'ko' %}
        <h5 class="card-title">{{ citydetails.nameko }}</h5>
        <p class="card-text"> {{ citydetails.titleko | safe }}</p>
        {% elif LANGUAGE_CODE == 'en' %}
        <h5 class="card-title">{{ citydetails.nameeng }}</h5>
        <p class="card-text"> {{ citydetails.titleeng | safe }}</p>
        {% elif LANGUAGE_CODE == 'vi' %}
        <h5 class="card-title">{{ citydetails.nameven }}</h5>
        <p class="card-text"> {{ citydetails.titleven | safe }}</p>
        {% endif %}

        <!-- <h6 class="card-subtitle mb-2 text-muted">{% trans "대한민국의 수도" %}</h6>
        <p class="card-text">
            {% trans "서울특별시(서울特別市)는 대한민국의 수도이자 최대 도시이다. 백제의 첫 수도인 위례성이었고, 고려 때는 남경(南京)이었으며, 조선의 수도가 된 이후로 현재까지 대한민국 정치·경제·사회·문화의 중심지 역할을 하고 있다." %} 
            {% trans "중앙으로 한강이 흐르고, 북한산, 관악산, 도봉산, 불암산, 인능산, 인왕산, 청계산 등의 여러 산들로 둘러싸인 분지 지형의 도시이다." %} 
            {% trans "넓이는 605.2 km²으로 대한민국 전 국토의 0.6%도 못 미치지만, 천만 명 정도의 인구가 살고 있어 인구밀도는 현저히 높다." %}
            {% trans "시청 소재지는 중구이며, 25개의 자치구로 이루어져 있다. 1986년 아시안 게임, 1988년 하계 올림픽, 2010년 서울 G20 정상회의를 개최한 국제적인 도시이다. 서울의 GDP는 세계 4위이다." %}</p> -->
    </div>
</div>

<!-- Trip Guide 시작 -->
<h5 class="card-title" style="padding: 30px 45px 0px 45px;">Trip Guide</h5>
<!-- 먹다/마시다/놀다/보다 대표 이미지  3개.. -->
<div class="card-deck" style="padding: 0 45px;">  
    <div class="card" style="height: 120px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Eat' %}">
                <img class="card-imgsm" src="{{ eat_itdetail.picture1.url }}" alt="Card image">
                <div style="padding-left: 140px;text-align: left;">
                        <h6 class="card-title" style="padding: 50px;color: black;margin: 0px;">{% trans "먹다" %}</h6>
                </div>
            </a>
        </div>
    </div>
    <div class="card" style="height: 120px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Drink' %}">
                <img class="card-imgsm" src="{{ drink_itdetail.picture1.url }}" alt="Card image">
                <div style="padding-left: 140px;text-align: left;">
                    <h6 class="card-title" style="padding: 50px;color: black;margin: 0px;">{% trans "마시다" %}</h6>
            </div>
            </a>
        </div>
    </div>
    <div class="card" style="height: 120px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Fun' %}">
                <img class="card-imgsm" src="{{ fun_itdetail.picture1.url }}" alt="Card image">
                <div style="padding-left: 140px;text-align: left;">
                    <h6 class="card-title" style="padding: 50px;color: black;margin: 0px;">{% trans "놀다" %}</h6>
            </div>
            </a>
        </div>
    </div>
</div>

<!-- 자다/사다/ 대표 이미지  3개.. -->
<div class="card-deck" style="padding: 30px 45px;">
    <div class="card" style="height: 120px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='See' %}">
                <img class="card-imgsm" src="{{ see_itdetail.picture1.url }}" alt="Card image">
                <div style="padding-left: 140px;text-align: left;">
                    <h6 class="card-title" style="padding: 50px;color: black;margin: 0px;">{% trans "보다" %}</h6>
            </div>
            </a>
        </div>
    </div>
    <div class="card" style="height: 120px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Sleep' %}">
                <img class="card-imgsm" src="{{ sleep_itdetail.picture1.url }}" alt="Card image">
                <div style="padding-left: 140px;text-align: left;">
                    <h6 class="card-title" style="padding: 50px;color: black;margin: 0px;">{% trans "자다" %}</h6>
            </div>
            </a>
        </div>
    </div>
    <div class="card" style="height: 120px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Buy' %}">
                <img class="card-imgsm" src="{{ buy_itdetail.picture1.url }}" alt="Card image">
                <div style="padding-left: 140px;text-align: left;">
                    <h6 class="card-title" style="padding: 50px;color: black;margin: 0px;">{% trans "사다" %}</h6>
            </div>
            </a>
        </div>
    </div>
</div>

<!-- 배너 -->
<div class="card" style="padding: 0 45px;border: none;">
    <img class="card-img" src="{% static 'img/sub_banner.png' %}" alt="Card image">
</div>

<!-- Trip Curator 시작 -->
<h5 class="card-title" style="padding: 30px 45px 0px 45px;">Trip Curator</h5>

{% for travelcurator in travelcurators|slice:":4" %}
{% if forloop.counter == 1 %}
    <div class="card-deck" style="padding: 0 45px 30px 45px;"> 
{% elif forloop.counter == 3 %}
    <div class="card-deck" style="padding: 0 45px"> 
{% endif %}

    <div class="card">
        <div class="card-body p-0">
            <a href="{% url 'clientapp:tripcuratordetail' citydetails_id=citydetails.id tripcurator_id=travelcurator.id %}">
                <img class="card-imgsm" style="width: 300px;height: 240px;" src="{{ travelcurator.tcimage_totals.first.tcimg.url }}" alt="Card image">
                <div class="media" style="padding: 20px;color: black;display: grid;">
                    <div class="media-body" style="margin-bottom: 40px;">

                        {% if LANGUAGE_CODE == 'ko' %}
                        <h5 class="media-heading">{{ travelcurator.titleko }}</h5> 
                        <small>{{ travelcurator.introko|truncatewords:20 }}</small><br>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <h5 class="media-heading">{{ travelcurator.titleeng }}</h5> 
                        <small>{{ travelcurator.introeng|truncatewords:20 }}</small><br>
                        {% elif LANGUAGE_CODE == 'vi' %}
                        <h5 class="media-heading">{{ travelcurator.titleven }}</h5> 
                        <small>{{ travelcurator.introven|truncatewords:20 }}</small><br>
                        {% endif %}

                        <div style="float: right;font-style:italic;color:#adadad;">
                            <small> {% trans "작성자" %} : {{ travelcurator.writter }}</small>
                        </div>
                    </div>
                    <div class="media-body" style="bottom: 20px;position: absolute;">
                        <img src="{% static 'img/sub_poi.png' %}" />
                        <small style="color:#c83a54;text-decoration: underline;"> {% trans "추천장소" %} : {{ travelcurator.infotravel_count }} {% trans "개" %}</small>
                    </div>
                </div>
            </a>
        </div>
    </div>

{% if forloop.counter == 2 or forloop.counter == 4 %}    
</div>
{% endif %}
{% endfor %}
<div style="padding: 10px 45px;">
    <a href="{% url 'clientapp:tripcurator' citydetails_id=citydetails.id %}">
        <small style="color:#c83a54;text-decoration: underline;"> 
            Trip Curator {% trans "모두보기" %} <i class="fa fa-caret-right" style="font-size: 16px;"></i>
        </small>
    </a>
</div> 

<!-- Trip Coordinator 시작 -->
<h5 class="card-title" style="padding: 30px 45px 0px 45px;">Trip Coordinator</h5>


<div class="card-deck" style="padding: 0 45px;">
    {% for travelplan in travelplans|slice:":4" %}
    <div class="card">
        <div class="card-body p-0">
            <a href="{% url 'clientapp:tripcoursedetail' citydetails_id=citydetails.id tripcourse_id=travelplan.id %}">
                <img class="card-imgsm" style="width: 100%;height: 240px;border-top-right-radius: 13px;border-bottom-left-radius: 0px;" src="{{ travelplan.poipoint_totals.first.picture1.url }}" alt="Card image">
                <div class="media" style="padding: 20px;color: black;display: grid;">
                    <div class="media-body" style="margin-bottom: 40px;">

                        {% if LANGUAGE_CODE == 'ko' %}
                        <h5 class="media-heading">{{ travelplan.titleko }}</h5> 
                        <small>{{ travelplan.courseinfoko|truncatewords:20 }}</small>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <h5 class="media-heading">{{ travelplan.titleeng }}</h5> 
                        <small>{{ travelplan.courseinfoeng|truncatewords:20 }}</small>
                        {% elif LANGUAGE_CODE == 'vi' %}
                        <h5 class="media-heading">{{ travelplan.titleven }}</h5> 
                        <small>{{ travelplan.courseinfoven|truncatewords:20 }}</small>
                        {% endif %}

                    </div>
                    <div class="media-body" style="bottom: 20px;position: absolute;">
                        <img src="{% static 'img/sub_poi.png' %}" />
                        <small style="color:#c83a54;text-decoration: underline;"> {% trans "추천장소" %} : {{ travelplan.inlinecount }} {% trans "개" %}</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<div style="padding: 10px 45px;">
    <a href="{% url 'clientapp:tripcourse' citydetails_id=citydetails.id %}">
        <small style="color:#c83a54;text-decoration: underline;"> 
            Trip Coordinator {% trans "모두보기" %} <i class="fa fa-caret-right" style="font-size: 16px;"></i>
        </small>
    </a>
</div> 

<!-- AR Trip -->
<h5 class="card-title" style="padding: 30px 45px 0px 45px;">AR Trip</h5>

<!-- AR Contents.. -->
{% for arcontent in arcontents|slice:":6" %}
{% if forloop.counter == 1 %}
    <div class="card-deck" style="padding: 0 45px 30px 45px;"> 
{% elif forloop.counter == 4 %}
    <div class="card-deck" style="padding: 0 45px 30px 45px;"> 
{% endif %}

        <div class="card" sstyle="height: 120px;">
            <div class="card-body text-center p-0"> <!-- 팝업창 띄우기-->
                <a href="#layer2" class="btn-example">
                    <img class="card-imgsm" src="{{ arcontent.picture.url }}" />
                
                    <div style="text-align: left; padding: 31px 0px 31px 170px;">

                        {% if LANGUAGE_CODE == 'ko' %}
                        <h6 class="card-title" style="margin-bottom: 0px; color:blue;">{{ arcontent.titleko }}</h6>
                        <p class="card-text" style="font-size: 0.8em;">{{ arcontent.get_category_display }}</p>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <h6 class="card-title" style="margin-bottom: 0px; color:blue;">{{ arcontent.titleeng }}</h6>
                        <p class="card-text" style="font-size: 0.8em;">{{ arcontent.category }}</p>
                        {% elif LANGUAGE_CODE == 'vi' %}
                        <h6 class="card-title" style="margin-bottom: 0px; color:blue;">{{ arcontent.titleven }}</h6>
                        <p class="card-text" style="font-size: 0.8em;">{{ arcontent.category }}</p>
                        {% endif %}
                        
                    </div>
                    <div style="position: absolute;top: 27px;right: 35px;">
                        <img src="{% static 'img/sub_aricon.png' %}" />
                    </div>
                </a>
            </div>
        </div> 

{% if forloop.counter == 3 or forloop.counter == 6 %}    
</div>
{% endif %}
{% endfor %}


<!-- 팝업창 띄우기 -->
<!-- <a href="#layer2" class="btn-example">딤처리 팝업레이어 1</a> -->
<div class="dim-layer">
    <div class="dimBg"></div>
    <div id="layer2" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts" style="text-align: center;">
                <!--content //-->
                <!-- <h4 style="text-align: center;"> TAKE A TRIPS </h4> -->
                <img src="{% static 'img/main_logo2.png' %}" style="margin-bottom: 10px;" />
                <h6 style="text-align: center;">
                    {% trans "AR Trip은 Take a trips APP에서" %} <br> 
                    {% trans "실행이 가능한 서비스 입니다." %}
                </h6>
                <p class="ctxt mb20"  style="text-align: center; font-size: 14px;">
                    {% trans "Take a trips APP을 설치하시겠습니까?" %}
                </p>
                <a href="#" role="button">
                    <img src="{% static 'img/appbtn_android.png' %}" style="margin-bottom: 10px;"/>
                </a>
                <a href="#" role="button">
                    <img src="{% static 'img/appbtn_apple.png' %}" />
                </a>
                
                <!-- <div class="btn-r">
                    <a href="#" class="btn-layerClose">Close</a>
                </div> -->
                <!--// content-->
            </div>
        </div>
    </div>
</div>


<!-- django-waterfall 이미지 들어가는 부분.. -->
<h5 class="card-title" style="padding: 30px 45px 0px 45px;">{% trans "유사한 여행 정보 보기" %}</h5>

<div class="card p-5" style="padding-top: 0px!important; border:0px;">
    <div class=container style="margin:0px; padding:0px; max-width:1920px;">
        <div class=waterfall> 
        </div>
    </div>
</div>


<!-- DB 에서 tripguide(InfoTravel) 가져오기... -->
<script id=waterfall-template type=text/template>
    {% for itdetail in itdetails %}
    <ul class="list-group">
        <li class="list-group-up">
            <a href="javascript:itdetailpath('{{ itdetail.part }}', {{ citydetails.id }}, {{ itdetail.id }});"> 
                <img src="{{ itdetail.picture1.url }}" alt=""> </a>
        </li>
        <!-- <li class="list-group-it">
            <span class="fa fa-heart" style="font-size:16px; float:right;">
                <span>{{ itdetail.like_count }}</span>
            </span>
        </li> -->
        <li class="list-group-it">
            <div class="media">
                <!-- <div class="media-left">
                    <a href="javascript:;"> <img class="media-object img-rounded" style="width: 30px; height: 30px;" src="{% static 'images/avatar_30.png' %}" /> </a>
                </div> -->
                <div class="media-body">

                    {% if LANGUAGE_CODE == 'ko' %}
                    <h6 class="media-heading">{{ itdetail.companyko }}</h6> 
                    <small style="color:blue;">{{ itdetail.get_part_display }}</small><br>
                    <small>{{ itdetail.introko|truncatewords:7 }}</small> 
                    {% elif LANGUAGE_CODE == 'en' %}
                    <h6 class="media-heading">{{ itdetail.companyeng }}</h6> 
                    <small style="color:blue;">{{ itdetail.part }}</small><br>
                    <small>{{ itdetail.introeng|truncatewords:7 }}</small> 
                    {% elif LANGUAGE_CODE == 'vi' %}
                    <h6 class="media-heading">{{ itdetail.companyven }}</h6> 
                    <small style="color:blue;">{{ itdetail.part }}</small><br>
                    <small>{{ itdetail.introven|truncatewords:7 }}</small> 
                    {% endif %}

                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</script>




<script>
    $('.waterfall')
        .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        .on('finishing.mystist.waterfall', function() {
            setTimeout(function() { // simulate ajax
                $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
            }, 2000);
        })
        .waterfall()

    // itdetail 클릭시 tripguidedetail 로 넘어가기..
    function itdetailpath(part, citydetails_id, itdetail_id) {
        switch(part){
            case "Eat":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Eat/"+itdetail_id;
                break;
            case "Drink":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Drink/"+itdetail_id;
                break;
            case "Fun":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Fun/"+itdetail_id;
                break;
            case "See":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/See/"+itdetail_id;
                break;
            case "Sleep":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Sleep/"+itdetail_id;
                break;
            case "Buy":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Buy/"+itdetail_id;
                break;
        }
    }

    // 팝업창 띄우기..
    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });

    function layer_popup(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        // $('.layer .dimBg').click(function(){
        //     $('.dim-layer').fadeOut();
        //     return false;
        // });
        $('.dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });

    }
</script>

{% endblock %}
