{% extends 'client/base.html'%}
{% load static i18n %}

{% block contents %}
    
    <div class="linepartition"></div>
    
    <!-- selected sub menu -->
    {% if submenu == 1 %} <!-- gotocity page-->
    <div class="container menuadd">
      <div class="centerdiv">
          <a href="{% url 'clientapp:citymain' citydetails.id %}"> 
            <img class="submenu1" id="submenu1" src="{% static 'img/sub_menu_trips.png' %}"/>
          </a>
          <a href="{% url 'clientapp:gotocity' citydetails.id %}">
            <img class="submenu2" id="submenu2" src="{% static 'img/sub_menu_gotocity_on.png' %}"/>
          </a>
          <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}">
            <img class="submenu3" id="submenu3" src="{% static 'img/sub_menu_top.png' %}"/>
          </a>
      </div>
    </div>
    {% elif submenu == 2 %} <!-- top100 page-->
    <div class="container menuadd">
      <div class="centerdiv">
          <a href="{% url 'clientapp:citymain' citydetails.id %}"> 
            <img class="submenu1" id="submenu1" src="{% static 'img/sub_menu_trips.png' %}"/>
          </a>
          <a href="{% url 'clientapp:gotocity' citydetails.id %}">
            <img class="submenu2" id="submenu2" src="{% static 'img/sub_menu_gotocity.png' %}"/>
          </a>
          <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}">
            <img class="submenu3" id="submenu3" src="{% static 'img/sub_menu_top_on.png' %}"/>
          </a>
      </div>
    </div>
    {% else %}
    <div class="container menuadd">
      <div class="centerdiv">
          <a href="{% url 'clientapp:citymain' citydetails.id %}"> 
            <img class="submenu1" id="submenu1" src="{% static 'img/sub_menu_trips_on.png' %}"/>
          </a>
          <a href="{% url 'clientapp:gotocity' citydetails.id %}">
            <img class="submenu2" id="submenu2" src="{% static 'img/sub_menu_gotocity.png' %}"/>
          </a>
          <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}">
            <img class="submenu3" id="submenu3" src="{% static 'img/sub_menu_top.png' %}"/>
          </a>
      </div>
    </div>
    {% endif %}<!-- End of topmenuoff -->


{% endblock %}

{% block subcontents %}
{% endblock %}

<!-- Footer -->
{% block footers %}
<footer class="page-footer font-small blue" style="background-color:#212529; margin-top:40px; ">
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
    </div>
</footer>
{% endblock %}
    <!-- Footer -->