{% extends 'client/base.html'%}

{% block contents %}

    <div class="card p-2 text-dark" style="margin-top: 60px; text-align: center;">
        <div class="card-body">
            <span class="card-link p-2" style="color:blue;">Trips</span>
            <a href="{% url 'clientapp:gotocity' citydetails.id %}" class="card-link p-2 text-dark">Go to {{ citydetails.nameeng }}</a>
            <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}" class="card-link p-2 text-dark">Top 100</a>
        </div>
    </div>

{% endblock %}

{% block subcontents %}
{% endblock %}

<!-- Footer -->
{% block footers %}
<footer class="page-footer font-small blue" style="background-color:#212529; margin-top:40px; ">
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
    </div>
</footer>
{% endblock %}
    <!-- Footer -->