{% extends 'client/citysubase.html'%}
{% load static %}

{% block headers %}
<link rel=stylesheet href="{% static 'css/main.css' %}">
<script src="{% static 'js/bootstrap-waterfall.js' %}"></script>
{% endblock %}

{% block subcontents %}

<!-- 도시 대표 이미지  4개.. -->
<div class="card-deck p-4">
    <div class="card bg-primary" style="height: 220px;">
        <div class="card-body text-center p-0">
            <img class="card-img-top" style="height: 100%;" src="{{ citydetails.picture1.url }}" alt="Card image">
            <div class="card-img-overlay">
                <h4 class="card-title">광화문</h4>
            </div>
        </div>
    </div>
    <div class="card bg-warning" style="height: 220px;">
        <div class="card-body text-center p-0">
            <img class="card-img-top" style="height: 100%;" src="{{ citydetails.picture2.url }}" alt="Card image">
            <div class="card-img-overlay">
                <h4 class="card-title">경복궁</h4>
            </div>
        </div>
    </div>
    <div class="card bg-success" style="height: 220px;">
        <div class="card-body text-center p-0">
            <img class="card-img-top" style="height: 100%;" src="{{ citydetails.picture3.url }}" alt="Card image">
            <div class="card-img-overlay">
                <h4 class="card-title">동대문디자인플라자</h4>
            </div>
        </div>
    </div>
    <div class="card bg-danger" style="height: 220px;">
        <div class="card-body text-center p-0">
            <img class="card-img-top" style="height: 100%;" src="{{ citydetails.picture4.url }}" alt="Card image">
            <div class="card-img-overlay">
                <h4 class="card-title">북악스카이웨이</h4>
            </div>
        </div>
    </div>
</div>

 <!-- 도시 이름과 설명..  -->
<div class="card p-1">
    <div class="card-body">
        <h1 style="font-weight:600; color:darkslategrey;"> 
        <h5 class="card-title">{{ citydetails.name }}</h5>
        </h1>
        <h6 class="card-subtitle mb-2 text-muted">대한민국의 수도</h6>
        <p class="card-text">
            서울특별시(서울特別市)는 대한민국의 수도이자 최대 도시이다. 백제의 첫 수도인 위례성이었고, 고려 때는 남경(南京)이었으며, 
            조선의 수도가 된 이후로 현재까지 대한민국 정치·경제·사회·문화의 중심지 역할을 하고 있다. 
            중앙으로 한강이 흐르고, 북한산, 관악산, 도봉산, 불암산, 인능산, 인왕산, 청계산 등의 여러 산들로 둘러싸인 분지 지형의 도시이다. 
            넓이는 605.2 km²으로 대한민국 전 국토의 0.6%도 못 미치지만, 천만 명 정도의 인구가 살고 있어 인구밀도는 현저히 높다.
            시청 소재지는 중구이며, 25개의 자치구로 이루어져 있다. 1986년 아시안 게임, 1988년 하계 올림픽, 
            2010년 서울 G20 정상회의를 개최한 국제적인 도시이다. 서울의 GDP는 세계 4위이다.</p>
    </div>
</div>

<!-- Trip Guide 시작 -->
<h5 class="card-title" style="padding: 1.5em; margin: 0 20;">Trip Guide</h5>
<!-- 먹다/마시다/놀다/보다 대표 이미지  4개.. -->
<div class="card-deck p-5" style="padding-top: 0px!important; padding-bottom: 0px!important;">
    
    <div class="card bg-primary" style="height: 240px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Eat' %}">
                <img class="card-img-top" style="height: 100%;" src="{{ eat_itdetail.picture1.url }}" alt="Card image">
                <div class="card-img-overlay" style="top:50%; height:50%; margin-top:-5%; padding:0px;">
                    <div style="background-color:#00000080; color:white;">
                            <h4 class="card-title">먹다</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card bg-warning" style="height: 240px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Drink' %}">
                <img class="card-img-top" style="height: 100%;" src="{{ drink_itdetail.picture1.url }}" alt="Card image">
                <div class="card-img-overlay" style="top:50%; height:50%; margin-top:-5%; padding:0px;">
                    <div style="background-color:#00000080; color:white;">
                        <h4 class="card-title">마시다</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card bg-success" style="height: 240px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Fun' %}">
                <img class="card-img-top" style="height: 100%;" src="{{ fun_itdetail.picture1.url }}" alt="Card image">
                <div class="card-img-overlay" style="top:50%; height:50%; margin-top:-5%; padding:0px;">
                    <div style="background-color:#00000080; color:white;">
                        <h4 class="card-title">놀다</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card bg-danger" style="height: 240px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='See' %}">
                <img class="card-img-top" style="height: 100%;" src="{{ see_itdetail.picture1.url }}" alt="Card image">
                <div class="card-img-overlay" style="top:50%; height:50%; margin-top:-5%; padding:0px;">
                    <div style="background-color:#00000080; color:white;">
                        <h4 class="card-title">보다</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- 자다/사다/ 대표 이미지  4개.. -->
<div class="card-deck p-5">
    <div class="card bg-primary" style="height: 240px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Sleep' %}">
                <img class="card-img-top" style="height: 100%;" src="{{ sleep_itdetail.picture1.url }}" alt="Card image">
                <div class="card-img-overlay" style="top:50%; height:50%; margin-top:-5%; padding:0px;">
                    <div style="background-color:#00000080; color:white;">
                        <h4 class="card-title">자다</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card bg-warning" style="height: 240px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails.id partnum='Buy' %}">
                <img class="card-img-top" style="height: 100%;" src="{{ buy_itdetail.picture1.url }}" alt="Card image">
                <div class="card-img-overlay" style="top:50%; height:50%; margin-top:-5%; padding:0px;">
                    <div style="background-color:#00000080; color:white;">
                        <h4 class="card-title">사다</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card bg-success" style="height: 240px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripcurator' citydetails.id %}">
                <img class="card-img-top" style="height: 100%;" src="{{ citydetails.picture3.url }}" alt="Card image">
                <div class="card-img-overlay" style="top:50%; height:50%; margin-top:-5%; padding:0px;">
                    <div style="background-color:#00000080; color:white;">
                        <h4 class="card-title">Trip Curator</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card bg-danger" style="height: 240px;">
        <div class="card-body text-center p-0">
            <a href="{% url 'clientapp:tripcourse' citydetails.id %}">
                <img class="card-img-top" style="height: 100%;" src="{{ citydetails.picture4.url }}" alt="Card image">
                <div class="card-img-overlay" style="top:50%; height:50%; margin-top:-5%; padding:0px;">
                    <div style="background-color:#00000080; color:white;">
                        <h4 class="card-title">Trip Course</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<!-- AR Trip -->
<div class="card p-1">
<h5 class="card-title" style="padding: 1.5em; margin: 0 20;">AR Trip</h5>
<!-- AR Contents.. -->
{% for arcontent in arcontents %}
    {% if forloop.counter == 1 or forloop.counter == 5 %}
    <div class="card-deck p-5" style="padding-top: 0px!important; padding-bottom: 0px!important;">
        <div class="card" style="border: 0px; height: 240px; margin-bottom: 60px;">
            <div class="card-body text-center p-0"> <!-- 팝업창 띄우기-->
                <a href="#layer2" class="btn-example">
                    <img class="card-img-top" style="height: 100%;" src="{{ arcontent.picture.url }}" alt="Card image">
                </a>
                <div class="card-body" style="text-align: left; padding-left: 0px; padding-top: 10px;">
                    <h6 class="card-title" style="margin-bottom: 0px; color:blue;">{{ arcontent.titleko }}</h6>
                    <p class="card-text" style="font-size: 0.8em;">{{ arcontent.get_category_display }}</p>
                </div>
            </div>
        </div> 
    {% else %}
        <div class="card" style="border: 0px; height: 240px; margin-bottom: 60px;">
            <div class="card-body text-center p-0">
                <a href="#layer2" class="btn-example"> <!-- 팝업창 띄우기-->
                    <img class="card-img-top" style="height: 100%;" src="{{ arcontent.picture.url }}" alt="Card image">
                </a>
                <div class="card-body" style="text-align: left; padding-left: 0px; padding-top: 10px;">
                    <h6 class="card-title" style="margin-bottom: 0px; color:blue;">{{ arcontent.titleko }}</h6>
                    <p class="card-text" style="font-size: 0.8em;">{{ arcontent.get_category_display }}</p>
                </div>
            </div>
        </div> 
    {% endif %}

    {% if forloop.counter == 4 or forloop.counter == 8 %}
    </div>
    {% endif %}
{% endfor %}
</div>

<!-- 팝업창 띄우기 -->
<!-- <a href="#layer2" class="btn-example">딤처리 팝업레이어 1</a> -->
<div class="dim-layer">
    <div class="dimBg"></div>
    <div id="layer2" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts">
                <!--content //-->
                <h4 style="text-align: center;"> TAKE A TRIPS </h4>
                <h6 style="text-align: center;">
                    AR Trip은 Take a trips APP에서 <br> 
                    실행이 가능한 서비스 입니다.
                </h6>
                <p class="ctxt mb20"  style="text-align: center; font-size: 14px;">
                    Take a trips APP을 설치하시겠습니까?
                </p>
                <a href="#" class="btn btn-dark btn-block" role="button">Google Play Store</a>
                <a href="#" class="btn btn-dark btn-block" role="button">Apple App Store</a>
                
                <div class="btn-r">
                    <a href="#" class="btn-layerClose">Close</a>
                </div>
                <!--// content-->
            </div>
        </div>
    </div>
</div>


<!-- django-waterfall 이미지 들어가는 부분.. -->
<div class="card p-5" style="padding-top: 0px!important; border:0px;">
    <h1 style="font-weight:600; color:darkslategrey;"> 
        <h5 class="card-title" style="padding: 1.5em 0; margin: 0px;">유사한 여행 정보 보기</h5>
    </h1>
    <div class=container style="margin:0px; padding:0px; max-width:1920px;">
        <div class=waterfall> 
        </div>
    </div>
</div>


<!-- DB 에서 tripguide(InfoTravel) 가져오기... -->
<script id=waterfall-template type=text/template>
    {% for itdetail in itdetails %}
    <ul class="list-group" style="margin-bottom: 10px;">
        <li class="list-group-item">
            <a href="javascript:itdetailpath('{{ itdetail.part }}', {{ citydetails.id }}, {{ itdetail.id }});"> 
                <img src="{{ itdetail.picture1.url }}" alt=""> </a>
        </li>
        <li class="list-group-item">
            <span class="fa fa-heart" style="font-size:16px; float:right;">
                <span>{{ itdetail.like_count }}</span>
            </span>
        </li>
        <li class="list-group-item">
            <div class="media">
                <!-- <div class="media-left">
                    <a href="javascript:;"> <img class="media-object img-rounded" style="width: 30px; height: 30px;" src="{% static 'images/avatar_30.png' %}" /> </a>
                </div> -->
                <div class="media-body">
                    <h5 class="media-heading">{{ itdetail.companyko }}</h5> 
                    <small style="color:blue;">{{ itdetail.get_part_display }}</small><br>
                    <small>{{ itdetail.introko|truncatewords:7 }}</small> 
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</script>




<script>
    $('.waterfall')
        .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        .on('finishing.mystist.waterfall', function() {
            setTimeout(function() { // simulate ajax
                $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
            }, 2000);
        })
        .waterfall()

    // itdetail 클릭시 tripguidedetail 로 넘어가기..
    function itdetailpath(part, citydetails_id, itdetail_id) {
        switch(part){
            case "Eat":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Eat/"+itdetail_id;
                break;
            case "Drink":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Drink/"+itdetail_id;
                break;
            case "Fun":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Fun/"+itdetail_id;
                break;
            case "See":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/See/"+itdetail_id;
                break;
            case "Sleep":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Sleep/"+itdetail_id;
                break;
            case "Buy":
                location.href = "/citymain/"+citydetails_id+"/tripguidedetail/Buy/"+itdetail_id;
                break;
        }
    }

    // 팝업창 띄우기..
    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });

    function layer_popup(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        // $('.layer .dimBg').click(function(){
        //     $('.dim-layer').fadeOut();
        //     return false;
        // });
        $('.dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });

    }
</script>

{% endblock %}
