{% load static %}


<!-- Section 1 : Must See -->
<section class="popular-places" id="popular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Must See</span>
                    <a href="#"><div class="see-all" id="tab2all">See All</div></a>
                </div>
            </div>
        </div>
        <div class="row">
              <div class="col-md-6" style="width:50%;">
                <div class="thumbnail-wrapper" style="width:100%;height:100px;overflow:hidden;">
                  <div class="thumbnail">
                   <a href="{% url 'clientend:cdetail' %}">
                      <img style="width:100%;" src="{% static 'imgs/client/conts/c01.jpg' %}">
                   </a>
                  </div>
                </div>
                <div style="width:100%;color:#1f304d;margin-top:5px;">
                  Cheonggyecheon Square
                </div>
                <div style="width:100%;color:#8d9ea3;">
                  Place
                </div>
              </div>
              <div class="col-md-6" style="width:50%;">
                <div class="thumbnail-wrapper" style="width:100%;height:100px;overflow:hidden;">
                  <div class="thumbnail">
              <!--      <a href="{% static 'imgs/client/conts/c02.jpg' %}" target="_blank">  -->
                      <img style="width:100%;" src="{% static 'imgs/client/conts/c02.jpg' %}">
              <!--      </a>  -->
                  </div>
                </div>
                <div style="width:100%;color:#1f304d;margin-top:5px;">
                  Topgol Park
                </div>
                <div style="width:100%;color:#8d9ea3;">
                  Place
                </div>
              </div>
        </div>
    </div>
</section>

<!-- Section 2 : Must Eat -->
<section class="popular-places" id="popular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Must Eat</span>
                    <a href="#"><div class="see-all" id="tab3all">See All</div></a>
                </div>
            </div>
        </div>
        <div class="row">
              <div class="col-md-6" style="width:50%;">
                <div class="thumbnail-wrapper" style="width:100%;height:100px;overflow:hidden;">
                  <div class="thumbnail">
                <!--    <a href="{% static 'imgs/client/conts/c03.jpg' %}" target="_blank">  -->
                      <img style="width:100%;" src="{% static 'imgs/client/conts/c03.jpg' %}">
                <!--    </a>  -->
                  </div>
                </div>
                <div style="width:100%;color:#1f304d;margin-top:5px;">
                  Yurim Nak Ji
                </div>
                <div style="width:100%;color:#8d9ea3;">
                  Eat
                </div>
              </div>
              <div class="col-md-6" style="width:50%;">
                <div class="thumbnail-wrapper" style="width:100%;height:100px;overflow:hidden;">
                  <div class="thumbnail">
            <!--        <a href="{% static 'imgs/client/conts/c04.jpg' %}" target="_blank">  -->
                      <img style="width:100%;" src="{% static 'imgs/client/conts/c04.jpg' %}">
            <!--        </a>  -->
                  </div>
                </div>
                <div style="width:100%;color:#1f304d;margin-top:5px;">
                  Cheungkee Noddles
                </div>
                <div style="width:100%;color:#8d9ea3;">
                  Eat
                </div>
              </div>
        </div>
    </div>
</section>


<!-- Section 3 : Must Drink -->
<section class="popular-places" id="popular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Must Drink</span>
                    <a href="#"><div class="see-all" id="tab4all">See All</div></a>
                </div>
            </div>
        </div>
        <div class="row">
              <div class="col-md-6" style="width:50%;">
                <div class="thumbnail-wrapper" style="width:100%;height:100px;overflow:hidden;">
                  <div class="thumbnail">
                <!--    <a href="{% static 'imgs/client/conts/c03.jpg' %}" target="_blank">  -->
                      <img style="width:100%;" src="{% static 'imgs/client/conts/c03.jpg' %}">
                <!--    </a>  -->
                  </div>
                </div>
                <div style="width:100%;color:#1f304d;margin-top:5px;">
                  Yurim Nak Ji
                </div>
                <div style="width:100%;color:#8d9ea3;">
                  Eat
                </div>
              </div>
              <div class="col-md-6" style="width:50%;">
                <div class="thumbnail-wrapper" style="width:100%;height:100px;overflow:hidden;">
                  <div class="thumbnail">
            <!--        <a href="{% static 'imgs/client/conts/c04.jpg' %}" target="_blank">  -->
                      <img style="width:100%;" src="{% static 'imgs/client/conts/c04.jpg' %}">
            <!--        </a>  -->
                  </div>
                </div>
                <div style="width:100%;color:#1f304d;margin-top:5px;">
                  Cheungkee Noddles
                </div>
                <div style="width:100%;color:#8d9ea3;">
                  Eat
                </div>
              </div>
        </div>
    </div>
</section>


<!-- Section 4 : Travel Culator -->
<section class="popular-places" id="popular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Travel Culator</span>
                    <a href="#"><div class="see-all" id="tab5all">See All</div></a>
                </div>
            </div>
        </div>
        <div class="row">
              <div class="col-md-12" style="width:100%;">
                <div class="thumbnail-wrapper" style="width:100%;height:100px;overflow:hidden;">
                  <div class="thumbnail">
            <!--        <a href="{% static 'imgs/client/conts/c05.jpg' %}" target="_blank">  -->
                      <img style="width:100%;" src="{% static 'imgs/client/conts/c05.jpg' %}">
            <!--        </a>  -->
                  </div>
                </div>
                <div style="width:100%;color:#1f304d;margin-top:5px;">
                  Do you know Insa-Dong on a rainy day?
                </div>
                <div style="width:100%;color:#8d9ea3;">
                  by Steve Bak
                </div>
              </div>
              <div class="col-md-12" style="width:100%;margin-top:20px">
                <div class="thumbnail-wrapper" style="width:100%;height:100px;overflow:hidden;">
                  <div class="thumbnail">
          <!--          <a href="{% static 'imgs/client/conts/c04.jpg' %}" target="_blank">  -->
                      <img style="width:100%;" src="{% static 'imgs/client/conts/c04.jpg' %}">
          <!--          </a>  -->
                  </div>
                </div>
                <div style="width:100%;color:#1f304d;margin-top:5px;">
                  Main icon of Korean food, Banchan!
                </div>
                <div style="width:100%;color:#8d9ea3;">
                  by Steve Bak
                </div>
              </div>
        </div>
    </div>
</section>
