{% extends 'client/base.html'%}
{% load i18n static %}

{% block headers %}
<link rel=stylesheet href="{% static 'css/main.css' %}">
<!-- <script src="{% static 'vendor/vendor.js' %}"></script> -->
<script src="{% static 'js/bootstrap-waterfall.js' %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<style>
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    display: inline-block;
    padding: 10px 30px;
    background: #e4e4e4;
    /* color: #999; */
    font-size: 14px;
    cursor: pointer;
    margin: 0px;
  }
  input[type="radio"]:checked + label {
    background: #fff;
    color: #c01d3a;
    border: thin solid #adadad;
    border-bottom: none;
  }
  .conbox {
    display: none;
    background: white;
  }
  input[id="tab01"]:checked ~ .con1 { display: block; }
  input[id="tab02"]:checked ~ .con2 { display: block; }

</style>

{% endblock %}

{% block contents %}
   
    <div class="linepartition"></div>

    <!-- selected sub menu -->
    {% if submenu == 1 %} <!-- gotocity page-->
    <div class="container menuadd">
      <div class="centerdiv">
          <a href="{% url 'clientapp:citymain' citydetails.id %}"> 
            <img class="submenu1" id="submenu1" src="{% static 'img/sub_menu_trips.png' %}"/>
          </a>
          <a href="{% url 'clientapp:gotocity' citydetails.id %}">
            <img class="submenu2" id="submenu2" src="{% static 'img/sub_menu_gotocity_on.png' %}"/>
          </a>
          <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}">
            <img class="submenu3" id="submenu3" src="{% static 'img/sub_menu_top.png' %}"/>
          </a>
      </div>
    </div>
    {% elif submenu == 2 %} <!-- top100 page-->
    <div class="container menuadd">
      <div class="centerdiv">
          <a href="{% url 'clientapp:citymain' citydetails.id %}"> 
            <img class="submenu1" id="submenu1" src="{% static 'img/sub_menu_trips.png' %}"/>
          </a>
          <a href="{% url 'clientapp:gotocity' citydetails.id %}">
            <img class="submenu2" id="submenu2" src="{% static 'img/sub_menu_gotocity.png' %}"/>
          </a>
          <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}">
            <img class="submenu3" id="submenu3" src="{% static 'img/sub_menu_top_on.png' %}"/>
          </a>
      </div>
    </div>
    {% else %}
    <div class="container menuadd">
      <div class="centerdiv">
          <a href="{% url 'clientapp:citymain' citydetails.id %}"> 
            <img class="submenu1" id="submenu1" src="{% static 'img/sub_menu_trips_on.png' %}"/>
          </a>
          <a href="{% url 'clientapp:gotocity' citydetails.id %}">
            <img class="submenu2" id="submenu2" src="{% static 'img/sub_menu_gotocity.png' %}"/>
          </a>
          <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}">
            <img class="submenu3" id="submenu3" src="{% static 'img/sub_menu_top.png' %}"/>
          </a>
      </div>
    </div>
    {% endif %}<!-- End of topmenuoff -->


{% endblock %}

{% block subcontents %}
{% endblock %}

<!-- Footer -->
{% block footers %}
<footer class="page-footer font-small blue" style="background-color:#212529; margin-top:40px; ">
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
    </div>
</footer>


<script>
    
    // $('#detail_seoulairplan').hide();
    // $('#detail_seoulbus').hide();
    // $('#detail_busanbus').hide();
    // $('#detail_busansubway').hide();

    // switch ( {{ citydetails.gotocity }} ){
    //     case 1:
    //         $('#detail_seoulairplan').show();
    //         break;
    //     case 2:
    //         $('#detail_busanbus').show();
    //         break;
    //     default:
            
    // }
    
    // $('#seoul_airplan').click(function(){
    //     $('#detail_seoulairplan').show();
    //     $('#detail_seoulbus').hide();
    //     $('#detail_busanbus').hide();
    //     $('#detail_busansubway').hide();
    // });

    // $('#seoul_bus').click(function(){
    //     $('#detail_seoulairplan').hide();
    //     $('#detail_seoulbus').show();
    //     $('#detail_busanbus').hide();
    //     $('#detail_busansubway').hide();
        
    // });

    // $('#busan_bus').click(function(){
    //     $('#detail_seoulairplan').hide();
    //     $('#detail_seoulbus').hide();
    //     $('#detail_busanbus').show();
    //     $('#detail_busansubway').hide();
    // });

    // $('#busan_subway').click(function(){
    //     $('#detail_seoulairplan').hide();
    //     $('#detail_seoulbus').hide();
    //     $('#detail_busanbus').hide();
    //     $('#detail_busansubway').show();
    // });

</script>

{% endblock %}
<!-- Footer -->