{% extends 'client/base.html'%}
{% load static %}

{% block headers %}
<link rel=stylesheet href="{% static 'css/main.css' %}">
<!-- <script src="{% static 'vendor/vendor.js' %}"></script> -->
<script src="{% static 'js/bootstrap-waterfall.js' %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock %}

{% block contents %}
<!-- django-waterfall 이미지 들어가는 부분.. -->
<div class="container" style="margin-top: 80px; max-width:1920px;">
    <div class="row">
        <div class="col-sm-7" style="display: flex;">
            <h1 style="font-weight:600; color:darkslategrey; display:flex;"> 
                
                <a href="{% url 'clientapp:gotocity' citydetails.gotocity %}" class="card-link text-dark" style="margin-left: 0px;">
                    <h5 class="card-title" style="margin-left: 40px;">go to {{ citydetails.nameeng }}</h5>
                </a>
            </h1>
        </div>
        <div class="col-sm-4" style="text-align: right;">
            {% if citydetails.gotocity == 1 %} <!-- 서울특별시 -->
                <a href="#airplan" id="seoul_airplan" class="card-link p-2 text-dark">공항철도</a>
                <a href="#bus" id="seoul_bus" class="card-link p-2 text-dark">버스</a>
            {% elif citydetails.gotocity == 2 %} <!-- 부산광역시 -->
                <a href="#bus" id="busan_bus" class="card-link p-2 text-dark">버스</a>
                <a href="#subway" id="busan_subway" class="card-link p-2 text-dark">지하철</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block subcontents %}
{% endblock %}

<!-- Footer -->
{% block footers %}
<footer class="page-footer font-small blue" style="background-color:#212529; margin-top:40px; ">
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
    </div>
</footer>


<script>
    
    $('#detail_seoulairplan').hide();
    $('#detail_seoulbus').hide();
    $('#detail_busanbus').hide();
    $('#detail_busansubway').hide();

    switch ( {{ citydetails.gotocity }} ){
        case 1:
            $('#detail_seoulairplan').show();
            break;
        case 2:
            $('#detail_busanbus').show();
            break;
        default:
            
    }
    
    $('#seoul_airplan').click(function(){
        $('#detail_seoulairplan').show();
        $('#detail_seoulbus').hide();
        $('#detail_busanbus').hide();
        $('#detail_busansubway').hide();
    });

    $('#seoul_bus').click(function(){
        $('#detail_seoulairplan').hide();
        $('#detail_seoulbus').show();
        $('#detail_busanbus').hide();
        $('#detail_busansubway').hide();
        
    });

    $('#busan_bus').click(function(){
        $('#detail_seoulairplan').hide();
        $('#detail_seoulbus').hide();
        $('#detail_busanbus').show();
        $('#detail_busansubway').hide();
    });

    $('#busan_subway').click(function(){
        $('#detail_seoulairplan').hide();
        $('#detail_seoulbus').hide();
        $('#detail_busanbus').hide();
        $('#detail_busansubway').show();
    });

</script>

{% endblock %}
<!-- Footer -->