{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <title>TAKE A TRIPS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
        <link rel=stylesheet href="{% static 'css/main.css' %}">
        <link rel=stylesheet href="{% static 'css/mainsubstyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/bootstrap-waterfall.js' %}"></script>

        <style>
            .linepart{
                border-bottom: solid 0.5px #00000022;
                width: 100%;
                background-color: white;
                position: fixed;
                height: 71px;
                top:0px;
                z-index: 999;
            }
            .boxshadow {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
         </style>
    </head>


    <body>

        <!-- header -->
        <div class="header-curator md">
            <div class="leftitem-c">
                <!-- back1 또는 back2 둘중에 하나는 hide map 버튼이 상단에 나왔을때..-->
                <div id="back1" style="align-self: center;">
                    <a href="{% url 'clientapp:mytrip_detail' city_id=citydetails.id tourplan_id=tourplan.id %}"> 
                        <img src="{% static 'img/trip_detail_back.png' %}" style="width: 20px; height: 32px;"/>
                    </a>
                </div>
        
                <div style="padding-left: 20px;">
                    <h3 class="font-weight-bold" style="margin-bottom: 0px;">
                        <span class="text-dark">Trip Guide</span>
                    </h3>
                    <div style="margin-bottom: 0px;font-size: 14px;color: #848484;"> {{ tourplan.room }} 
                        
                        {% if LANGUAGE_CODE == 'ko' %}
                        <font> &middot; {{ citydetails.nameko }}</font>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <font> &middot; {{ citydetails.nameeng }}</font>
                        {% elif LANGUAGE_CODE == 'vi' %}
                        <font> &middot; {{ citydetails.nameven }}</font>
                        {% endif %}
        
                    </div>
                </div>
            </div>

            <div class="rightitem-c">
                <div class="submenu">
                    <div class="tab">
                        <button style="cursor: pointer;" class="tablinks1" onclick="show_airplane();">{% trans '공항철도' %}</button>
                        <button style="cursor: pointer;" class="tablinks2" onclick="show_bus();">{% trans '버스' %}</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="linepart"></div>

        {% block contents %}

        {% endblock %}
    
            
        <!-- Footer -->
        <footer class="page-footer font-small" style="background-color:#ffffff; margin-top:0px; ">
            <div style="display: flex; justify-content: center;">
                <div class="footer-menu">{% trans '의견 보내기' %}</div>
                <div class="footer-menu">{% trans '개인정보처리방침' %}</div>
                <div class="footer-menu">{% trans '서비스 약관' %}</div>
            </div>
            <div class="footer-copyrights">© 2019 Copyright : TAKEBO All rights reserved.</div>
        </footer>
        <!-- Footer -->
        
    </body>
</html>