{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load socialaccount %} 
{% providers_media_js %}

<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TAKE A TRIPS</title>
        <!-- <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
        
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        <link rel=stylesheet href="{% static 'css/main.css' %}">
        <script src="{% static 'js/bootstrap-waterfall.js' %}"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
        <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <style>
            /*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/
            input[type="text"] {
                width: 100%;
                border: 1px solid #aaa;
                border-radius: 4px;
                margin: 1px 0;
                outline: none;
                padding: 8px;
                box-sizing: border-box;
                transition: 0.3s;
            }

            input[type="text"]:focus {
                border-color: dodgerBlue;
                box-shadow: 0 0 8px 0 dodgerBlue;
            }

            .inputWithIcon input[type="text"] {
                padding-left: 40px;
            }

            .inputWithIcon {
                position: relative;
            }

            .inputWithIcon i {
                position: absolute;
                left: 0;
                top: 8px;
                padding: 9px 8px;
                color: #aaa;
                transition: 0.3s;
            }

            .inputWithIcon input[type="text"]:focus + i {
                color: dodgerBlue;
            }

            .inputWithIcon.inputIconBg i {
                background-color: #aaa;
                color: #fff;
                padding: 9px 4px;
                border-radius: 4px 0 0 4px;
            }

            .inputWithIcon.inputIconBg input[type="text"]:focus + i {
                color: #fff;
                background-color: dodgerBlue;
            }

        </style>

    <script type="text/javascript">
        var availableTags = {{itdetail_names|safe}}; // 검색할 타이틀을 배열로 보내온걸 받는다.
        $( function() {
            $( "#tags" ).autocomplete({
                source: availableTags
            });
        } );
    </script>

    </head>
    <body>
        
        <!-- header -->
        <div class="header">
            <div class="btnTourplanBack">
                <a href="{% url 'clientapp:mytrip' %}" style="background: none; color: black;">
                    <i class="material-icons" style="font-size: 40px;">arrow_back</i>
                </a>
            </div>
            <div class="btnTourplanNext">
                <a id="btnnextlink" style="background: none;">
                    <button id="btnnext" class="button button-grayrect">다음</button>
                </a>
            </div>

        </div>

       
        <!-- contents -->
        <div class="linepartition"></div>

        <!-- mytrip part -->
        <div id="mytrip" class="tabcontent">
            <div class="mytrip_header">
                
                <div class="card-deck" style="margin: 10px;">
                    <div class="container plan-place">
                        <div style="">
                            <p class="plan-place-text">Step 01. place : <span style="font-size: 1.5rem; color: #bf1d38;">숙소</span>가 어디인가요?</p>
                        </div> 
                        <div>
                            <div class="inputWithIcon">
                                <input id="tags" type="text" placeholder="숙소가 어디인가요?">
                                <img src="{% static 'img/tg_icon04.png' %}" style="position: absolute;left: 5;top: 10;" />
                            </div>
                        </div> 
                        <div>
                            <div class="inputWithIcon">
                                <input id="inputdate" type="text" name="datefilter" placeholder="여행 기간은 어떻게 되나요?">
                                <img src="{% static 'img/tg_icon03.png' %}" style="position: absolute;left: 5;top: 10;" />
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>

            <div class="content">
                <!-- django-waterfall 이미지 들어가는 부분.. -->
                <h5 class="card-title" style="margin: 10px;">{% trans "아직 숙소를 예약하지 않으셨나요?" %}</h5>

                <!-- <div class="card p-5" style="padding-top: 0px!important; border:0px;"> -->
                <div class=container style="margin:10px; padding:0px; max-width:1920px;">
                    <div class=waterfall> 
                    </div>
                </div>
                <!-- </div> -->

                <!-- DB 에서 tripguide(InfoTravel) 가져오기... -->
                <script id=waterfall-template type=text/template>
                    {% for sleep_itdetail in sleep_itdetails %}
                    <ul class="list-group">
                        <li class="list-group-up">
                            <a href="{% url 'clientapp:tripguidedetail' citydetails_id=citydetails.id partnum='Sleep' tripguide_id=sleep_itdetail.id %}">
                                <img src="{{ sleep_itdetail.picture1.url }}" alt=""> </a>
                        </li>
                        
                        <li class="list-group-it">
                            <div class="media">
                                <div class="media-body">

                                    {% if LANGUAGE_CODE == 'ko' %}
                                    <h5 class="media-heading">{{ sleep_itdetail.companyko }}</h5> 
                                    <small style="color:blue;">{{ sleep_itdetail.get_part_display }}</small><br>
                                    <small>{{ sleep_itdetail.introko|truncatewords:7 }}</small> 
                                    {% elif LANGUAGE_CODE == 'en' %}
                                    <h5 class="media-heading">{{ sleep_itdetail.companyeng }}</h5> 
                                    <small style="color:blue;">{{ sleep_itdetail.part }}</small><br>
                                    <small>{{ sleep_itdetail.introeng|truncatewords:7 }}</small> 
                                    {% elif LANGUAGE_CODE == 'vi' %}
                                    <h5 class="media-heading">{{ sleep_itdetail.companyven }}</h5> 
                                    <small style="color:blue;">{{ sleep_itdetail.part }}</small><br>
                                    <small>{{ sleep_itdetail.introven|truncatewords:7 }}</small> 
                                    {% endif %}

                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </script>
            </div>

        </div>

        <script>
            // input 필드에 모두 채워지면 다음 버튼 변경 및 링크 생성..
            const tags = document.getElementById('tags');
            const inputdate = document.getElementById('inputdate');
            const btnnext = document.getElementById('btnnext');
            const btnnextlink = document.getElementById('btnnextlink');

            // 시작일자와 끝나는일자 저장 변수..
            var startdate = '';
            var enddate = '';

            // 여행 스타일 저장값들..
            console.log(localStorage.getItem("room"));
            console.log(localStorage.getItem("startdate"));
            console.log(localStorage.getItem("enddate"));
            
            $('.waterfall')
                .data('bootstrap-waterfall-template', $('#waterfall-template').html())
                .on('finishing.mystist.waterfall', function() {
                    setTimeout(function() { // simulate ajax
                        $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
                    }, 2000);
                })
                .waterfall()
            

            $(function() {
                $('input[name="datefilter"]').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });
                
                $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                    startdate = picker.startDate.format('YYYY-MM-DD');
                    enddate = picker.endDate.format('YYYY-MM-DD');
                    console.log("startdate in picker : " + startdate);
                    btnNextChange();
                });

                $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                    btnNextChange();
                });
            });

            tags.addEventListener('change', btnNextChange);
            // inputdate.addEventListener('change', btnNextChange); // daterangepicker 로는 안먹힘.. picker 안에 apply 버튼이 눌렸을 때 함수 실행을 해 줘야함..

            function btnNextChange() {
                if (tags.value.length != 0) {
                    if (inputdate.value.length != 0){ // room, date 두 필드가 모두 입력 되었을 경우..
                        btnnext.classList.remove('button-grayrect');
                        btnnext.classList.add('button-redrect');
                        btnnext.setAttribute("onclick", "localStoragePlace()");
                        btnnextlink.setAttribute("href", "{% url 'clientapp:mytrip_tourplan02' %}");
                        // console.log(startdate);
                        // console.log(enddate);

                    }else{
                        btnnext.classList.remove('button-redrect');
                        btnnext.classList.add('button-grayrect');
                        btnnextlink.removeAttribute("href", "{% url 'clientapp:mytrip_tourplan02' %}");
                    }
                }else{
                    btnnext.classList.remove('button-redrect');
                    btnnext.classList.add('button-grayrect');
                    btnnextlink.removeAttribute("href", "{% url 'clientapp:mytrip_tourplan02' %}");
                }
                // tags.textContent = e.target.value;

            }

            $(window).bind("pageshow", function (event) { 
                if (event.originalEvent.persisted) { 
                    console.log('BFCahe로부터 복원됨'); 
                } else { 
                    console.log('새로 열린 페이지'); 
                    if(localStorage.room){
                        tags.value = JSON.parse(localStorage.getItem("room"));
                    }
                    if(localStorage.startdate && localStorage.enddate){
                        inputdate.value = JSON.parse(localStorage.getItem("startdate")) + ' - ' + JSON.parse(localStorage.getItem("enddate"));
                    }
                    btnNextChange();
                } 
            });

            function localStoragePlace(){
                if (typeof(Storage) !== "undefined") {
                    localStorage.room = JSON.stringify(tags.value);
                    if(localStorage.startdate == '' || !localStorage.startdate){ // daterangepicker 가 스크립트로 입력 될경우 문제가 생긴 조치..
                        localStorage.startdate = JSON.stringify(startdate);
                        localStorage.enddate = JSON.stringify(enddate);
                    }
                } else {
                    alert("Sorry, your browser does not support web storage...");
                }
            }

            // history.goback() 으로 하면 사파리에서 안되고, 위 함수 pageshow 도 안됨, 아래와 같이 백버튼 함수로 적용해야 함..
            function goback(){
                if(document.referrer) {
                    window.open(document.referrer,'_self');
                } else {
                    history.go(-1);
                } 
                return false;
            }

        </script>
    
    </body>
</html>
