{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <title>TAKE A TRIPS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
        <link rel=stylesheet href="{% static 'css/main.css' %}">
        <link rel=stylesheet href="{% static 'css/mainsubstyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/bootstrap-waterfall.js' %}"></script>

        <style>
            .gm-ui-hover-effect {
                display: none!important;
            }
            .linepart{
                border-bottom: solid 0.5px #00000022;
                width: 100%;
                background-color: white;
                position: fixed;
                height: 71px;
                top:0px;
                z-index: 999;
            }
            .boxshadow {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
         </style>
    </head>


    <body>

        <!-- header -->
        <div class="header-curator md">
            <div class="leftitem-c">
                <!-- back1 또는 back2 둘중에 하나는 hide map 버튼이 상단에 나왔을때..-->
                <div id="back1" style="align-self: center;">
                    <a href="{% url 'clientapp:mytrip_detail' city_id=citydetails.id tourplan_id=tourplan.id %}"> 
                        <img src="{% static 'img/trip_detail_back.png' %}" style="width: 20px; height: 32px;"/>
                    </a>
                </div>
        
                <div style="padding-left: 20px;">
                    <h3 class="font-weight-bold" style="margin-bottom: 0px;">
                        <span class="text-dark">Trip Guide</span>
                    </h3>
                    <div style="margin-bottom: 0px;font-size: 14px;color: #848484;"> {{ tourplan.room }} 
                        
                        {% if LANGUAGE_CODE == 'ko' %}
                        <font> &middot; {{ citydetails.nameko }}</font>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <font> &middot; {{ citydetails.nameeng }}</font>
                        {% elif LANGUAGE_CODE == 'vi' %}
                        <font> &middot; {{ citydetails.nameven }}</font>
                        {% endif %}
        
                    </div>
                </div>
                <!-- 상단 좌측 메뉴 / search -->
                <div class="pull-left" style="padding-top: 6px;margin-left: 1em;">
                    <form id="demo-1" method="POST" action="{% url 'clientapp:searchtrips' citydetails.id tourplan.id %}">
                    {% csrf_token %}
                    <input type="search" name="srhwd" placeholder="Search Tag" style="border-radius: 30px;">
                    </form>
                </div>
            </div>

            <div class="rightitem-c">
                <div class="submenu">
                    <div class="tab">
                        <button style="cursor: pointer;" class="tablinks1" onclick="window.location.href = '{% url 'clientapp:mytripguide' citydetails.id tourplan.id 1 %}';">{% trans '먹다' %}</button>
                        <button style="cursor: pointer;" class="tablinks2" onclick="window.location.href = '{% url 'clientapp:mytripguide' citydetails.id tourplan.id 2 %}';">{% trans '마시다' %}</button>
                        <button style="cursor: pointer;" class="tablinks3" onclick="window.location.href = '{% url 'clientapp:mytripguide' citydetails.id tourplan.id 3 %}';">{% trans '놀다' %}</button>
                        <button style="cursor: pointer;" class="tablinks4" onclick="window.location.href = '{% url 'clientapp:mytripguide' citydetails.id tourplan.id 4 %}';">{% trans '사다' %}</button>
                    </div>
                </div>

                <div style="margin-right: 10px;">
                    <!-- <a href="#map" class="card-link p-2 text-dark" id="btnmap" alt="위치보기">
                        <i class="fa fa-map-o" style="font-size:24px;"></i>
                    </a> -->
                    <a href="#layer2" class="btn-example" style="text-decoration: none; cursor: pointer;">
                        <img class="wd120" src="{% static 'img/icon_arbtn.png' %}" />
                    </a>
        
                    <a href="{% url 'clientapp:mytripguide_pick' citydetails.id tourplan.id 1 %}" style="text-decoration: none; cursor: pointer;">
                        <img class="wd120" src="{% static 'img/icon_mypickbtn.png' %}" />
                    </a> 
                </div>
            </div>
        </div>

        <div class="linepart"></div>

        <!-- 팝업창 띄우기 -->
        <!-- <a href="#layer2" class="btn-example">딤처리 팝업레이어 1</a> -->
        <div class="dim-layer">
            <div class="dimBg"></div>
            <div id="layer2" class="pop-layer">
                <div class="pop-container">
                    <div class="pop-conts" style="text-align: center;">
                        <!--content //-->
                        <!-- <h4 style="text-align: center;"> TAKE A TRIPS </h4> -->
                        <img src="{% static 'img/main_logo2.png' %}" style="margin-bottom: 10px;" />
                        <h6 style="text-align: center;">
                            {% trans "AR Trip은 Take a trips APP에서" %} <br> 
                            {% trans "실행이 가능한 서비스 입니다." %}
                        </h6>
                        <p class="ctxt mb20"  style="text-align: center; font-size: 14px;">
                            {% trans "Take a trips APP을 설치하시겠습니까?" %}
                        </p>
                        <a href="#" role="button">
                            <img src="{% static 'img/appbtn_android.png' %}" style="margin-bottom: 10px;"/>
                        </a>
                        <a href="#" role="button">
                            <img src="{% static 'img/appbtn_apple.png' %}" />
                        </a>
                        
                        <!-- <div class="btn-r">
                            <a href="#" class="btn-layerClose">Close</a>
                        </div> -->
                        <!--// content-->
                    </div>
                </div>
            </div>
        </div>

        {% block contents %}

        {% endblock %}
    
            
        <!-- Footer -->
        <footer class="page-footer font-small" style="background-color:#ffffff; margin-top:0px; ">
            <div style="display: flex; justify-content: center;">
                <div class="footer-menu">{% trans '의견 보내기' %}</div>
                <div class="footer-menu">{% trans '개인정보처리방침' %}</div>
                <div class="footer-menu">{% trans '서비스 약관' %}</div>
            </div>
            <div class="footer-copyrights">© 2019 Copyright : TAKEBO All rights reserved.</div>
        </footer>
        <!-- Footer -->
        
        <script>
            var tablinks;
            var pinnum = {{ pinnum }};
            
            tablinks = document.getElementsByClassName("tablinks"+pinnum);
            tablinks[0].className += " active";


            // 팝업창 띄우기..
            $('.btn-example').click(function(){
                var $href = $(this).attr('href');
                layer_popup($href);
            });

            function layer_popup(el){

                var $el = $(el);        //레이어의 id를 $el 변수에 저장
                var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

                isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

                var $elWidth = ~~($el.outerWidth()),
                    $elHeight = ~~($el.outerHeight()),
                    docWidth = $(document).width(),
                    docHeight = $(document).height();

                // 화면의 중앙에 레이어를 띄운다.
                if ($elHeight < docHeight || $elWidth < docWidth) {
                    $el.css({
                        marginTop: -$elHeight /2,
                        marginLeft: -$elWidth/2
                    })
                } else {
                    $el.css({top: 0, left: 0});
                }

                $el.find('a.btn-layerClose').click(function(){
                    isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
                    return false;
                });

                // $('.layer .dimBg').click(function(){
                //     $('.dim-layer').fadeOut();
                //     return false;
                // });
                $('.dimBg').click(function(){
                    $('.dim-layer').fadeOut();
                    return false;
                });
            }
  
        </script>
        
    </body>
</html>