
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<div id="tripguideBeforeList" class="tripguideList">
    {% for eat_itdetail in eat_itdetails %}
    <ul class="list-group">
        <li class="list-group-up">
            <a href="{% url 'clientapp:mytripguide_detail' citydetails.id tourplan.id eat_itdetail.id 'mytripguide' %}"> 
                <img id="{{ eat_itdetail.id }}" src="{{ eat_itdetail.picture1.url }}" style="height: 10em;object-fit: cover;" alt=""> 
            </a>
        </li>
        <li class="list-group-it">
            <div class="media">
                <div class="media-body">

                    {% if LANGUAGE_CODE == 'ko' %}
                    <h6 class="media-heading">{{ eat_itdetail.companyko }}</h6> 
                    <small style="color:blue;">{{ eat_itdetail.get_part_display }}</small><br>
                    <!-- <small>{{ eat_itdetail.introko|truncatewords:7 }}</small>  -->
                    {% elif LANGUAGE_CODE == 'en' %}
                    <h6 class="media-heading">{{ eat_itdetail.companyeng }}</h6> 
                    <small style="color:blue;">{{ eat_itdetail.part }}</small><br>
                    <!-- <small>{{ eat_itdetail.introeng|truncatewords:7 }}</small>  -->
                    {% elif LANGUAGE_CODE == 'vi' %}
                    <h6 class="media-heading">{{ eat_itdetail.companyven }}</h6> 
                    <small style="color:blue;">{{ eat_itdetail.part }}</small><br>
                    <!-- <small>{{ eat_itdetail.introven|truncatewords:7 }}</small>  -->
                    {% endif %}

                </div>
            </div>
        </li>
        <li class="list-group-item" style="background: none;right: 0px;position: absolute;border: none;">
            <!-- <a href="{% url 'clientapp:mytripguide_like' citydetails.id tourplan.id eat_itdetail.id 'mytripguide' %}" id="btnlike" style="text-decoration: none;"> -->
                {% if user in eat_itdetail.like_infotravel.all %}
                <img src="{% static 'img/icon_mypick57on.png' %}" style="width: 44px; height: 44px;"/>
                {% else %}
                <img src="{% static 'img/icon_mypick57off.png' %}" style="width: 44px; height: 44px;"/>
                {% endif %}
            <!-- </a>  -->
        </li>
    </ul>
    {% endfor %}
</div>