{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<head>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <title>TAKE A TRIPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-waterfall.js' %}"></script>
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script> -->

    {% block headers %}
    {% endblock %}

</head>
<body>
    <div class="row" style="margin: 15px 45px;">
        <!-- back1 또는 back2 둘중에 하나는 hide map 버튼이 상단에 나왔을때..-->
        <div id="back1" style="align-self: center;">
            <a href="{% url 'clientapp:tripguide' citydetails_id=citydetails_id partnum=partnum %}"> 
                <img src="{% static 'img/trip_detail_back.png' %}" style="width: 20px; height: 32px;"/>
            </a>
        </div>
        <div id="back2" style="align-self: center;">
            <a href="{% url 'clientapp:tripguidedetail' citydetails_id=citydetails_id partnum=partnum tripguide_id=itdetail.id %}"> 
                <img src="{% static 'img/trip_detail_back.png' %}" style="width: 20px; height: 32px;"/>
            </a>
        </div>

        <div style="padding-left: 20px;">
            <h3 class="font-weight-bold" style="margin-bottom: 0px;">

                {% if LANGUAGE_CODE == 'ko' %}
                <a href="#" class="card-link text-dark">{{ itdetail.companyko }}</a>
                {% elif LANGUAGE_CODE == 'en' %}
                <a href="#" class="card-link text-dark">{{ itdetail.companyeng }}</a>
                {% elif LANGUAGE_CODE == 'vi' %}
                <a href="#" class="card-link text-dark">{{ itdetail.companyven }}</a>
                {% endif %}
                
                <small class="font-italic" style="margin-top: 14px;margin-bottom: 0px;margin-left: 5px;color: #c1223f;font-size: 16px;">{{ itdetail.get_typeit_display }}</small> 
            </h3>
            <div style="margin-bottom: 0px;font-size: 14px;"> {{ itdetail.get_part_display }} 
                
                {% if LANGUAGE_CODE == 'ko' %}
                <font style="color: black;"> &middot; {{ itdetail.categorymedium.name }}</font>
                {% elif LANGUAGE_CODE == 'en' %}
                <font style="color: black;"> &middot; {{ itdetail.categorymedium.nameeng }}</font>
                {% elif LANGUAGE_CODE == 'vi' %}
                <font style="color: black;"> &middot; {{ itdetail.categorymedium.nameven }}</font>
                {% endif %}

            </div>
        </div>
        <div style="align-self: center; position: absolute;right: 45px;">
            <!-- <a href="#map" class="card-link p-2 text-dark" id="btnmap" alt="위치보기">
                <i class="fa fa-map-o" style="font-size:24px;"></i>
            </a> -->
            <a href="#youtube" id="btnyt" style="text-decoration: none;">
                <img src="{% static 'img/trip_detail_youtube.png' %}" style="width: 44px; height: 44px;"/>
            </a>
            <a href="https://www.instagram.com/explore/tags/{{ itdetail.companyko }}/" target="_blank" id="btninsta" style="text-decoration: none;">
                <img src="{% static 'img/trip_detail_instagram.png' %}" style="width: 44px; height: 44px;margin:0 10px;"/>
            </a>
            <a href="{% url 'clientapp:tripguide_like' citydetails_id=citydetails_id partnum=partnum tripguide_id=itdetail.id %}" id="btnlike" style="text-decoration: none;">
                {% if user in itdetail.like_infotravel.all %}
                <img src="{% static 'img/trip_detail_like_on.png' %}" style="width: 44px; height: 44px;"/>
                {% else %}
                <img src="{% static 'img/trip_detail_like.png' %}" style="width: 44px; height: 44px;"/>
                {% endif %}
            </a> 
        </div>
    </div>
   
    {% block contents %}
    {% endblock %}

    <!-- Footer -->
    {% block footers %}
    <footer class="page-footer font-small blue" style="background-color:#212529; margin-top:40px; ">
        <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
            <a href="#"> Take a Trips</a>
        </div>
    </footer>
    {% endblock %}
    <!-- Footer -->

    <script>
        $('#back2').hide();
        $('#map').show();
        $('#youtubsearch').hide();
        
        // $('#btnmap').click(function(){
        //     $('#detailbase').hide();
        //     $('#back1').hide();
        //     $('#back2').show();
        //     $('#map').show();
        //     $('#youtubsearch').hide();
        // });

        $('#btnyt').click(function(){
            $('#detailbase').hide();
            $('#back1').hide();
            $('#back2').show();
            // $('#map').hide();
            $('#youtubsearch').show();

            //Set form input
            document.getElementById("query").value = "{{ itdetail.companyko }}";
            search();
            
        });

        // $('#btninsta').click(function(){
        //     $('#detailbase').hide();
        //     $('#back1').hide();
        //     $('#back2').show();
        // });

    </script>
</body>