{% extends 'client/base.html'%}
{% load static %}

{% block headers %}
<link rel=stylesheet href="{% static 'css/main.css' %}">
<!-- <script src="{% static 'vendor/vendor.js' %}"></script> -->
<script src="{% static 'js/bootstrap-waterfall.js' %}"></script>
{% endblock %}

{% block contents %}
<!-- django-waterfall 이미지 들어가는 부분.. -->
<div class="container" style="margin-top: 80px; max-width:1920px;">
    <div class="row">
        <div class="col-sm-7" style="display: flex;">
            <h1 style="font-weight:600; color:darkslategrey; display:flex;"> 
                
                <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}" class="card-link text-dark" style="margin-left: 0px;">
                    <h5 class="card-title" style="margin-left: 40px;">Top 100</h5>
                </a>
            </h1>
        </div>
        <div class="col-sm-4" style="float: right;">
            <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Eat' %}" class="card-link p-2 text-dark">먹다</a>
            <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Drink' %}" class="card-link p-2 text-dark">마시다</a>
            <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Fun' %}" class="card-link p-2 text-dark">놀다</a>
            <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='See' %}" class="card-link p-2 text-dark">보다</a>
            <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Sleep' %}" class="card-link p-2 text-dark">자다</a>
            <a href="{% url 'clientapp:topbak' citydetails_id=citydetails.id partnum='Buy' %}" class="card-link p-2 text-dark">사다</a>
        </div>
    </div>
</div>

<!-- django-waterfall 이미지 들어가는 부분.. -->
<div class=container style="padding:0 45; max-width:1920;">
    <div class=waterfall> 
    </div>
</div>

<!-- DB 에서 tripguide(InfoTravel) 가져오기... -->
<script id=waterfall-template type=text/template>
    {% for selected_itmust in selected_itmusts %}
    <ul class="list-group" style="margin-bottom: 10px;">
        <li class="list-group-item">
            <a href="{% url 'clientapp:tripguidedetail' citydetails_id=citydetails.id partnum=partnum tripguide_id=selected_itmust.id %}"> 
                <img src="{{ selected_itmust.picture1.url }}" alt=""> </a>
        </li>
        <li class="list-group-item">
            <span class="fa fa-heart" style="font-size:16px; float:right;">
                <span>{{ selected_itmust.like_count }}</span>
            </span>
        </li>
        <li class="list-group-item">
            <div class="media">

                <div class="media-body">
                    <h5 class="media-heading">{{ selected_itmust.companyko }}</h5> 
                    <small style="color:blue;">{{ selected_itmust.get_part_display }}</small><br>
                    <small>{{ selected_itmust.introko|truncatewords:7 }}</small> 
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</script>



<script>
    $('.waterfall')
        .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        .on('finishing.mystist.waterfall', function() {
            setTimeout(function() { // simulate ajax
                $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
            }, 2000);
        })
        .waterfall()
</script>

{% endblock %}

{% block subcontents %}
{% endblock %}

<!-- Footer -->
{% block footers %}
<footer class="page-footer font-small blue" style="background-color:#212529; margin-top:40px; ">
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
    </div>
</footer>
{% endblock %}
<!-- Footer -->