{% extends 'client/head.html'%}
{% load static i18n %}

{% block headers %}
<link rel=stylesheet href="{% static 'css/main.css' %}">
<link rel=stylesheet href="{% static 'css/mainsubstyle.css' %}">
<link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block contents %}
<div class="linepartition"></div>


<div class="infointro curator">
    <div class="infointro-in water">
        <div class="card" style="padding-top: 0px!important; border:0px;">
            <div class=container style="margin:0px; padding:0px; max-width:1920px;">
                
                <div class="col-md-12 col-sm-12">
                    
                    <div class="card-deck" style="margin: 10px;">
                        <div class="card p-5 bgbanner" style="    background-image: none;border: 1px solid #00000030;">
                            <div class="container plan">
                                <div style="margin-right: 20px;">
                                    <img src="{% static 'img/icon_suitcase64.png' %}" style="width: 48px;" />
                                </div> 
                                <div>
                                    <h5 style="margin: 0px;"><span style="color: #bf1d37;">{% trans '상품 준비 중' %}</span>{% trans '입니다.' %} </h5>
                                    <p style="font-size: 0.9rem; margin:0px;"> {% trans 'Trip Guide나 Trip Curator에서 여행정보를 찾아보실 수 있습니다.' %} </p>
                                </div> 
                                <div class="mytrip-btn" style="display: flex;">
                                    <a href="#">
                                        <button class="btn btn-default btnRed" style="outline: none;">
                                            Trip Guide
                                        </button>
                                    </a>
                                    <a href="#" style="margin-left: 10px;">
                                        <button class="btn btn-default btnBlack" style="outline: none;">
                                            Trip Curator
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>



<script>
    // 상단 메뉴 선택 여부..
    var tablinks;
    tablinks = document.getElementsByClassName("tablinks4");
    tablinks[0].className += " active";


    
</script>

{% endblock %}

{% block footers %}
{% endblock %}