{% extends 'client/head.html'%}
{% load static i18n %}

{% block headers %}
<!-- 페이지별 메타 데이터 공간 -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="mycurator">
<meta property="og:title" content="부산 친구가 추천하는 부산 맛집 2탄">
<meta property="og:description" content="부산 출장이 많은 관계로 부산을 자주 찾게 되는데 그럴때마다 부산의 맛있는 식당을 방문하면서 하루의 피로를 풉니다. 그래서 제가 방문한 맛있는 식당과  페이스북 친구가 추천해준 맛있는 부산식당을 소개해드립니다.">
<meta property="og:type" content="website">
<meta property="og:image" content="http://www.takeatrips.com/media/images/travelplan/2020/5/13/2020-05-13-662318.jpg">

<!-- 페이지별 css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
<link rel=stylesheet href="{% static 'css/main.css' %}">
<link rel=stylesheet href="{% static 'css/mainsubstyle.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/bootstrap-waterfall.js' %}"></script>

<style>
    #sumeditor img {
        width: 20%!important;
        height: auto!important;
    }
    .linepart{
        border-bottom: solid 0.5px #00000022;
        width: 100%;
        background-color: white;
        position: fixed;
        height: 71px;
        top:0px;
        z-index: 999;
    }
</style>
{% endblock %}

{% block contents %}
<div class="linepartition"></div>


<!-- django-waterfall 이미지 들어가는 부분.. -->
<div class="infointro curator cur">
    <div class="infointro-in water">
        <div class="card" style="padding-top: 0px!important; border:0px;">
            <div class=container style="margin:0px 0px 0px 15px; padding:0px 20px 0px 0px; max-width:1920px;">
                <div class=waterfall> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DB 에서 tripcourse(travelplan) 가져오기... -->
<script id=waterfall-template type=text/template>
    {% for travelplan in travelplans %}
    <ul class="list-group" style="position:relative">
        <a href="{% url 'clientapp:mycurator_detail' citydetails.id 0 travelplan.id %}" style="text-decoration: none;list-style: none;"> 
            <li class="list-group-up">
                    <img src="{{ travelplan.poipoint_totals.first.picture1.url }}" style="border-top-right-radius: 12px;border-top-left-radius: 12px;"> 
            </li>
            <li class="list-group-it">
                <div class="media" style="color: black;display: grid;">
                    <div class="media-body">
                        
                        {% if LANGUAGE_CODE == 'ko' %}
                        <h5 class="media-heading">{{ travelplan.titleko }}</h5> 
                        <div id="sumeditor" style="font-size: 0.8rem;">{{ travelplan.courseinfoko|truncatewords:10|safe }}</div><br>
                        <!-- <small style="color:blue;">{{ travelplan.get_course_display }}</small>  -->
                        <div style="color:#c83a54;text-decoration: underline;font-size: 0.8rem;"> {% trans "코스타입" %} : {{ travelplan.get_course_display }} </div>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <h5 class="media-heading">{{ travelplan.titleeng }}</h5> 
                        <div id="sumeditor" style="font-size: 0.8rem;">{{ travelplan.courseinfoeng|truncatewords:10|safe }}</div><br>
                        <div style="color:#c83a54;text-decoration: underline;font-size: 0.8rem;"> {% trans "코스타입" %} : {{ travelplan.course }} </div>
                        {% elif LANGUAGE_CODE == 'vi' %}
                        <h5 class="media-heading">{{ travelplan.titleven }}</h5> 
                        <div id="sumeditor" style="font-size: 0.8rem;">{{ travelplan.courseinfoven|truncatewords:10|safe }}</div><br>
                        <div style="color:#c83a54;text-decoration: underline;font-size: 0.8rem;"> {% trans "코스타입" %} : {{ travelplan.course }} </div> 
                        {% endif %}

                    </div>
                </div>
            </li>
        </a>
        
    </ul>
    {% endfor %}
</script>

    
<!-- Footer -->
<footer class="page-footer font-small" style="background-color:#ffffff; margin-top:0px; ">
    <div style="display: flex; justify-content: center;">
        <div class="footer-menu">의견 보내기</div>
        <div class="footer-menu">개인정보처리방침</div>
        <div class="footer-menu">서비스 약관</div>
    </div>
    <div class="footer-copyrights">© 2019 Copyright : TAKEBO All rights reserved.</div>
</footer>
<!-- Footer -->


<script type="text/javascript">
    // 상단 메뉴 선택 여부..
    var tablinks;
    tablinks = document.getElementsByClassName("tablinks3");
    tablinks[0].className += " active";

    $('.waterfall')
        .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        .on('finishing.mystist.waterfall', function() {
            setTimeout(function() { // simulate ajax
                $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
            }, 2000);
        })
        .waterfall()


    // 팝업창 띄우기..
    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });

    function layer_popup(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        // $('.layer .dimBg').click(function(){
        //     $('.dim-layer').fadeOut();
        //     return false;
        // });
        $('.dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });
    }
</script>

{% endblock %}

{% block footers %}
{% endblock %}