{% extends 'client/tpbase.html' %}
{% load i18n static %}

    {% block headers %}
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
        <link rel=stylesheet href="{% static 'css/magnific-popup.css' %}">
        <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
        <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initMap"></script> -->
        <link rel=stylesheet href="{% static 'css/imggallery2.css' %}">

        <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 400px;  /* The height is 400 pixels */
                width: 100%;  /* The width is the width of the web page */
            }
            
            /* magnific-popup */
            /* padding-bottom and top for image */
            .mfp-no-margins img.mfp-img {
                padding: 0;
            }
            /* position of shadow behind the image */
            .mfp-no-margins .mfp-figure:after {
                top: 0;
                bottom: 0;
            }
            /* padding for main container */
            .mfp-no-margins .mfp-container {
                padding: 0;
            }

            .pict {
                border-radius: 12px;
            }
            .linepart{
                margin-bottom: 30px;
                border-bottom: solid 0.5px #00000022;
                width: 100%;
                background-color: white;
                z-index: -1;
                top: 0px;
            }
            .linepartblk{
                margin-bottom: 20px;
                border: solid 0.5px #828282;
                width: 93%;
                z-index: -1;
                top: 0px;
                margin-left: 45px;
            }
        </style>
    {% endblock %}

    {% block contents %}

    <div class="linepart"></div>

    <div id="detailbase">
     
    <!-- 소개정보.. -->
    <div class="card-deck p-5" style="padding-top: 0px!important;">
        <div class="card" style="max-height: 450px; border:0px;">
            <div class="card-body p-0">

                {% if LANGUAGE_CODE == 'ko' %}
                <p class="card-text" style="margin-top: 15px;"> {{ travelplan.courseinfoko }}</p>
                {% elif LANGUAGE_CODE == 'en' %}
                <p class="card-text" style="margin-top: 15px;"> {{ travelplan.courseinfoeng }}</p>
                {% elif LANGUAGE_CODE == 'vi' %}
                <p class="card-text" style="margin-top: 15px;"> {{ travelplan.courseinfoven }}</p>
                {% endif %}

            </div>
        </div>
    </div>

    <!-- googlemap.. -->
    <div id="map" style="height: 60%; width: 93%; left:40px; overflow:scroll; border:solid #adadad; border-width: thin;"></div>
    <div id="msg"></div>



    <!-- 코디네이터 정보 -->
    <h5 class="card-title" style="padding: 30px 45px 0px 45px; color: black;">{% trans "코디네이터 정보" %}</h5>
    <div class="linepartblk"></div>

    {% for poipoint_total in travelplan.poipoint_totals %}
    <div style="padding: 20 45px 20px 45px; display: inline-flex; align-items: center;"> 
        
        {% if forloop.counter == 1 %}
        <img src="{% static 'img/t01.png' %}" /> 
        {% elif forloop.counter == 2 %}
        <img src="{% static 'img/t02.png' %}" /> 
        {% elif forloop.counter == 3 %}
        <img src="{% static 'img/t03.png' %}" /> 
        {% elif forloop.counter == 4 %}
        <img src="{% static 'img/t04.png' %}" /> 
        {% elif forloop.counter == 5 %}
        <img src="{% static 'img/t05.png' %}" /> 
        {% elif forloop.counter == 6 %}
        <img src="{% static 'img/t06.png' %}" /> 
        {% elif forloop.counter == 7 %}
        <img src="{% static 'img/t07.png' %}" /> 
        {% elif forloop.counter == 8 %}
        <img src="{% static 'img/t08.png' %}" /> 
        {% elif forloop.counter == 9 %}
        <img src="{% static 'img/t09.png' %}" /> 
        {% endif %}
        
        {% if LANGUAGE_CODE == 'ko' %}
        <h6 style="margin: 0px;padding: 0 10px;">{{ poipoint_total.pnameko }}</h6>
        {% elif LANGUAGE_CODE == 'en' %}
        <h6 style="margin: 0px;padding: 0 10px;">{{ poipoint_total.pnameeng }}</h6>
        {% elif LANGUAGE_CODE == 'vi' %}
        <h6 style="margin: 0px;padding: 0 10px;">{{ poipoint_total.pnameven }}</h6>
        {% endif %}

    </div>

    <!-- 업체 대표 이미지 .. -->
    <section class="gallery" style="margin: 0 45px; padding: 0px;">
        <div class="imgcontainer">
            <div class="grid" style="grid-gap: 30px;">

                {% if poipoint_total.picture1.url != null %}
                <div class="column-xs-12 column-md-4">
                    <figure class="img-container">
                        <a class="image-popup-vertical-fit" href="{{ poipoint_total.picture1.url }}">
                            <img class="pict" style="height: calc(100vh - 370px);" src="{{ poipoint_total.picture1.url }}" />
                        </a>
                    </figure>
                </div>
                {% endif %}
                {% if poipoint_total.picture2.url != null %}
                <div class="column-xs-12 column-md-4">
                    <figure class="img-container">
                        <a class="image-popup-vertical-fit" href="{{ poipoint_total.picture2.url }}">
                            <img class="pict" style="height: calc(100vh - 370px);" src="{{ poipoint_total.picture2.url }}" />
                        </a>
                    </figure>
                </div>
                {% endif %}
                {% if poipoint_total.picture3.url != null %}
                <div class="column-xs-12 column-md-4">
                    <figure class="img-container">
                        <a class="image-popup-vertical-fit" href="{{ poipoint_total.picture3.url }}">
                            <img class="pict" style="height: calc(100vh - 370px);" src="{{ poipoint_total.picture3.url }}" />
                        </a>
                    </figure>
                </div>
                {% endif %}

            </div>
        </div>
    </section>
    {% endfor %}
    <div class="linepartblk"></div>

    <!-- table 로 아래로 라인으로 연결하듯 표현한 경우 / 스크립트 연계.. -->
    <!-- <table class="table" id="courseinfo-table" border="0" cellspacing="0">
        <tbody></tbody>
    </table> -->
        
    <!-- 유사한 여행 정보 보기 / django-waterfall 이미지 들어가는 부분.. -->
    <h5 class="card-title" style="padding: 30px 45px 0px 45px; color: black;">{% trans "유사한 여행 정보 보기" %}</h5>
 
    <div class="card p-5" style="padding-top: 0px!important; border:0px;">
        <div class=container style="margin:0px; padding:0px; max-width:1920px;">
            <div class=waterfall> 
            </div>
        </div>
    </div>
    
    <!-- DB 에서 tripcourse(TravelPlan) 가져오기... -->
    <script id=waterfall-template type=text/template>
        {% for travelplan in travelplans %}
        <div class="list-group">
            <div class="list-group-up">
                <a href="{% url 'clientapp:tripcoursedetail' citydetails_id=citydetails.id tripcourse_id=travelplan.id %}"> 
                    <img src="{{ travelplan.poipoint_totals.first.picture1.url }}" style="border-top-right-radius: 12px;border-top-left-radius: 12px;"  alt=""> 
                </a>
            </div>
            <!-- <li class="list-group-item">
                <span class="fa fa-heart" style="font-size:16px; float:right;">
                    <span>{{ travelplan.like_count }}</span>
                </span>
                <span class="fa fa-map-marker" style="font-size:16px; float:left;">
                    <span>{{ travelplan.inlinecount }}</span>
                </span>
            </li> -->
            <div class="list-group-it">
                <div class="media">
    
                    <div class="media-body">
                        
                        {% if LANGUAGE_CODE == 'ko' %}
                        <h5 class="media-heading">{{ travelplan.titleko }}</h5> 
                        <small>{{ travelplan.courseinfoko|truncatewords:10 }}</small><br>
                        <small style="color:#c83a54;text-decoration: underline;"> {% trans "코스타입" %} : {{ travelplan.get_course_display }}</small> 
                        {% elif LANGUAGE_CODE == 'en' %}
                        <h5 class="media-heading">{{ travelplan.titleeng }}</h5> 
                        <small>{{ travelplan.courseinfoeng|truncatewords:10 }}</small><br>
                        <small style="color:#c83a54;text-decoration: underline;"> {% trans "코스타입" %} : {{ travelplan.course }}</small> 
                        {% elif LANGUAGE_CODE == 'vi' %}
                        <h5 class="media-heading">{{ travelplan.titleven }}</h5> 
                        <small>{{ travelplan.courseinfoven|truncatewords:10 }}</small><br>
                        <small style="color:#c83a54;text-decoration: underline;"> {% trans "코스타입" %} : {{ travelplan.course }}</small> 
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </script> 

    </div>  <!-- end detailbase -->   



    <!-- Footer -->
    <footer class="page-footer font-small blue" style="background-color:#212529; margin-top:0px; ">
        <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
        </div>
    </footer>
    <!-- Footer -->

    <script type="text/javascript">
        $('.waterfall')
            .data('bootstrap-waterfall-template', $('#waterfall-template').html())
            .on('finishing.mystist.waterfall', function() {
                setTimeout(function() { // simulate ajax
                    $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
                }, 2000);
            })
            .waterfall()

        
        // google map Start..
        // var directionsService = new google.maps.DirectionsService();
        var directionsDisplay, directionsService;
        var map;
        var polyline;

        var locations = new Array();
        locations = {{ locations|safe }};
        // console.log(locations);
        var numicon= [
            "{% static 'img/num1.png' %}",
            "{% static 'img/num2.png' %}",
            "{% static 'img/num3.png' %}",
            "{% static 'img/num4.png' %}",
            "{% static 'img/num5.png' %}",
            "{% static 'img/num6.png' %}",
            "{% static 'img/num7.png' %}",
            "{% static 'img/num8.png' %}",
            "{% static 'img/num9.png' %}"
        ]

        // 위경도의 두점 사이의 거리 계산..
        function haversine_distance(lat1, lat2, lng1, lng2) {
            var R = 6371.0710; // Radius of the Earth in miles
            var rlat1 = lat1 * (Math.PI/180); // Convert degrees to radians
            var rlat2 = lat2 * (Math.PI/180); // Convert degrees to radians
            var difflat = rlat2-rlat1; // Radian difference (latitudes)
            var difflon = (lng2-lng1) * (Math.PI/180); // Radian difference (longitudes)

            var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));
            return d;
        }

        // Initialize and add the map
        function initMap() {
            directionsService = new google.maps.DirectionsService();
            // The map, centered at.. 
            //여러 위치의 중심값을 map의 center 로..
            var locations_x = 0.0;
            var locations_y = 0.0;

            for(var i = 0; i < locations.length; i++){
                locations_x = locations_x + locations[i][1];
                locations_y = locations_y + locations[i][2];
            }
            var locations_avgx = locations_x / locations.length;
            var locations_avgy = locations_y / locations.length;

            var centerLatLng = {lat: locations_avgy, lng: locations_avgx};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18, 
                center: centerLatLng
            });

            for(var count = 0; count < locations.length; count++){ 

                var contentString = '<div id="content" style="text-align: center;">' + 
                    '<h6 style="margin: 0px;">' + locations[count][0] + '</h6></div>';
                
                var icon = {
                    url: numicon[count], // url
                    scaledSize: new google.maps.Size(40, 40), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(20, 20) // anchor
                };

                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[count][2], locations[count][1]),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: icon
                });

                marker.info = new google.maps.InfoWindow({
                    content: contentString
                });
                google.maps.event.addListener(marker, 'click', function() {  
                    // this = marker
                    var marker_map = this.getMap();
                    this.info.open(marker_map, this);
                    // Note: If you call open() without passing a marker, the InfoWindow will use the position specified upon construction through the InfoWindowOptions object literal.
                });

                // // 두점 사이의 직선..count가 2가 되면 location[3] 되면서 존재하지 않음으로 문제 됨..
                // if(count != 2){
                //     const firstpoint = new google.maps.LatLng(locations[count][2], locations[count][1]);
                //     const secondpoint = new google.maps.LatLng(locations[count+1][2], locations[count+1][1]);
                    // // Draw a line showing the straight distance between the markers
                    // var line = new google.maps.Polyline({
                    //     path: [firstpoint, secondpoint], 
                    //     geodesic: true,
                    //     strokeColor: '#FF0000',
                    //     strokeOpacity: 1.0,
                    //     strokeWeight: 2,
                    //     map: map
                    // });
                    // // Calculate and display the distance between markers
                    // var distance = haversine_distance(locations[count][2], locations[count+1][2], locations[count][1], locations[count+1][1]);
                    // // document.getElementById('msg').innerHTML += "Distance between markers: " + distance + " km.";
                    // // console.log(distance);

                    // // 길찾기 경로 표시 .. TRANSIT 만 됨
                    // // var start = new google.maps.LatLng(locations[count][2], locations[count][1]);
                    // //var end = new google.maps.LatLng(locations[count][2], locations[count][1]);
                    // // console.log(start);
                    
                    // // plotDirections(start, end);
                // }
            }

            // 테스트로 마포에서 종로까지 경로.. https://jsfiddle.net/upsidown/9jb2nvt8/ 여기서는 잘됨..
            // var start = new google.maps.LatLng(37.5592722, 126.9281438);
            // var end = new google.maps.LatLng(37.570016, 126.999006); 
            // // console.log(start);
            
            // plotDirections(start, end);

        }

        // 길 찾기 함수..
        function plotDirections(start, end) {

            var method = 'TRANSIT'; // DRIVING, BICYCLING, TRANSIT, WALKING -> TRANSIT 만 활성화 됨..

            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.DirectionsTravelMode[method],
                provideRouteAlternatives: true
            };
            // console.log(destination);

            directionsService.route(request, function(response, status) {

                if (status == google.maps.DirectionsStatus.OK) {

                    var routes = response.routes;
                    var colors = ['red', 'green', 'blue', 'orange', 'yellow', 'black'];
                    var directionsDisplays = [];

                    // Reset the start and end variables to the actual coordinates
                    start = response.routes[0].legs[0].start_location;
                    end = response.routes[0].legs[0].end_location;

                        // Loop through each route
                    for (var i = 0; i < routes.length; i++) {
                        var directionsDisplay = new google.maps.DirectionsRenderer({
                            map: map,
                            directions: response,
                            routeIndex: i,
                            draggable: true,
                            polylineOptions: {

                            strokeColor: colors[i],
                            strokeWeight: 4,
                            strokeOpacity: .3
                            }
                        });

                        // Push the current renderer to an array
                        directionsDisplays.push(directionsDisplay);

                        // Listen for the directions_changed event for each route
                        google.maps.event.addListener(directionsDisplay, 'directions_changed', (function(directionsDisplay, i) {
                            return function() {
                                var directions = directionsDisplay.getDirections();
                                var new_start = directions.routes[0].legs[0].start_location;
                                var new_end = directions.routes[0].legs[0].end_location;

                                if ((new_start.toString() !== start.toString()) || (new_end.toString() !== end.toString())) {
                                    // Remove every route from map
                                    for (var j = 0; j < directionsDisplays.length; j++) {
                                        directionsDisplays[j].setMap(null);
                                    }
                                    // Redraw routes with new start/end coordinates
                                    plotDirections(new_start, new_end);
                                }
                            }
                        })(directionsDisplay, i)); // End listener
                    } // End route loop
                }
            });
        }

        $(document).ready(function() {

            $('.image-popup-vertical-fit').magnificPopup({
                
                type: 'image',
                closeOnContentClick: true,
                showCloseBtn: false,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true
                }
                
            });

            $('.image-popup-fit-width').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                image: {
                    verticalFit: false
                }
            });

            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });

        });

 
    </script>

    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9P6UvbrGzl1-ooprZXq4HghPXX27Q7Po&callback=initMap&libraries=geometry">
    </script>

    {% endblock %}

    {% block footers %}
    {% endblock %}