{% extends 'client/base.html'%}
{% load static %}

{% block headers %}
<link rel=stylesheet href="{% static 'css/main.css' %}">
<!-- <script src="{% static 'vendor/vendor.js' %}"></script> -->
<script src="{% static 'js/bootstrap-waterfall.js' %}"></script>
{% endblock %}

{% block contents %}

<div class="linepartition"></div>
    
<!-- django-waterfall 이미지 들어가는 부분.. -->
<a href="{% url 'clientapp:tripcurator' citydetails.id %}" class="card-link text-dark">
    <h5 class="card-title" style="padding: 30px 45px 0px 45px; position: absolute;top: 80px;z-index: 999;">Trip Guide</h5>
</a>

<div class="card p-5" style="top: 120px; border:0px;">
    <div class=container style="margin:0px; padding:0px; max-width:1920px;">
        <div class=waterfall> 
        </div>
    </div>
</div>


<!-- DB 에서 tripcurator(travelcurator) 가져오기... -->
<script id=waterfall-template type=text/template>
    {% for travelcurator in travelcurators %}
    <ul class="list-group">
        <li class="list-group-up">
            <a href="{% url 'clientapp:tripcuratordetail' citydetails_id=citydetails.id tripcurator_id=travelcurator.id %}"> 
                <img src="{{ travelcurator.tcimage_totals.first.tcimg.url }}" alt=""> </a>
        </li>
        <!-- <li class="list-group-item">
            <span class="fa fa-heart" style="font-size:16px; float:right;">
                <span>{{ travelcurator.like_count }}</span>
            </span>
            <span class="fa fa-map-marker" style="font-size:16px; float:left;">
                <span>{{ travelcurator.infotravel_count }}</span>
            </span>
        </li> -->
        <li class="list-group-it">
            <div class="media"  style="color: black;display: grid;">
                <div class="media-body">
                    <h5 class="media-heading">{{ travelcurator.titleko }}</h5> 
                    <small>{{ travelcurator.introko|truncatewords:20 }}</small><br>
                    <div style="float: right;font-style:italic;color:#adadad;">
                        <small> 작성자 :</small>
                        <small> {{ travelcurator.writter }}</small>
                    </div>
                </div>
                <div class="media-body" style="margin-top: 40px;">
                    <img src="{% static 'img/sub_poi.png' %}" />
                    <small style="color:#c83a54;text-decoration: underline;"> 추천장소 : {{ travelcurator.infotravel_count }} 개</small>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</script>



<script>
    $('.waterfall')
        .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        .on('finishing.mystist.waterfall', function() {
            setTimeout(function() { // simulate ajax
                $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
            }, 2000);
        })
        .waterfall()
</script>

{% endblock %}

{% block subcontents %}
{% endblock %}

<!-- Footer -->
{% block footers %}
<footer class="page-footer font-small blue" style="background-color:#212529; margin-top:40px; ">
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
    </div>
</footer>
{% endblock %}
<!-- Footer -->