{% extends 'client/tgbase.html' %}
{% load static %}

    {% block headers %}
        <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
        <link rel=stylesheet href="{% static 'css/youtubesearch.css' %}">
        <script src="{% static 'js/youtubesearch.js' %}"></script>

        <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 400px;  /* The height is 400 pixels */
                width: 100%;  /* The width is the width of the web page */
            }
            /* The popup bubble styling. */
            .popup-bubble {
                /* Position the bubble centred-above its parent. */
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -100%);
                /* Style the bubble. */
                background-color: white;
                padding: 5px;
                border-radius: 5px;
                font-family: sans-serif;
                overflow-y: auto;
                max-height: 60px;
                box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
            }
            /* The parent of the bubble. A zero-height div at the top of the tip. */
            .popup-bubble-anchor {
                /* Position the div a fixed distance above the tip. */
                position: absolute;
                width: 100%;
                bottom: /* TIP_HEIGHT= */ 8px;
                left: 0;
            }
            /* This element draws the tip. */
            .popup-bubble-anchor::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                /* Center the tip horizontally. */
                transform: translate(-50%, 0);
                /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
                width: 0;
                height: 0;
                /* The tip is 8px high, and 12px wide. */
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: /* TIP_HEIGHT= */ 8px solid white;
            }
            /* JavaScript will position this div at the bottom of the popup tip. */
            .popup-container {
                cursor: auto;
                height: 0;
                position: absolute;
                /* The max width of the info window. */
                width: 200px;
            }
         </style>
    {% endblock %}

    {% block contents %}
    <div id="detailbase">
        <!-- 대표 이미지 .. -->
        {% if itdetail.picture1 %}
        <div class="card-deck p-5" style="padding-bottom: 0px!important; padding-top: 0px!important;">
            <div class="card bg-primary" style="max-height: 450px;">
                <div class="card-body text-center p-0">
                    <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture1 }}" alt="Card image">
                </div>
            </div>
            {% if itdetail.picture2 %}
                <div class="card bg-warning" style="max-height: 450px;">
                    <div class="card-body text-center p-0">
                        <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture2 }}" alt="Card image">
                    </div>
                </div>
            {% else %}
                <div class="card" style="max-height: 450px; border: 0px;">
                    <div class="card-body text-center p-0">
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
           
        {% if itdetail.picture3 %}
        <div class="card-deck p-5" style="padding-bottom: 0px!important;">
            <div class="card bg-success" style="max-height: 450px;">
                <div class="card-body text-center p-0">
                    <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture3 }}" alt="Card image">
                </div>
            </div>
            {% if itdetail.picture4 %}
                <div class="card bg-danger" style="max-height: 450px;">
                    <div class="card-body text-center p-0">
                        <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture4 }}" alt="Card image">
                    </div>
                </div>
            {% else %}
                <div class="card" style="max-height: 450px; border: 0px;">
                    <div class="card-body text-center p-0">
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}

        {% if itdetail.picture5 %}
        <div class="card-deck p-5" style="padding-bottom: 0px!important;">
            <div class="card bg-success" style="max-height: 450px;">
                <div class="card-body text-center p-0">
                    <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture5 }}" alt="Card image">
                </div>
            </div>
            {% if itdetail.picture6 %}
                <div class="card bg-danger" style="max-height: 450px;">
                    <div class="card-body text-center p-0">
                        <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture6 }}" alt="Card image">
                    </div>
                </div>
            {% else %}
                <div class="card" style="max-height: 450px; border: 0px;">
                    <div class="card-body text-center p-0">
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}

        {% if itdetail.picture7 %}
        <div class="card-deck p-5" style="padding-bottom: 0px!important;">
            <div class="card bg-success" style="max-height: 450px;">
                <div class="card-body text-center p-0">
                    <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture7 }}" alt="Card image">
                </div>
            </div>
            {% if itdetail.picture8 %}
                <div class="card bg-danger" style="max-height: 450px;">
                    <div class="card-body text-center p-0">
                        <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture8 }}" alt="Card image">
                    </div>
                </div>
            {% else %}
                <div class="card" style="max-height: 450px; border: 0px;">
                    <div class="card-body text-center p-0">
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
        
        {% if itdetail.picture9 %}
        <div class="card-deck p-5" style="padding-bottom: 0px!important;">
            <div class="card bg-success" style="max-height: 450px;">
                <div class="card-body text-center p-0">
                    <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture9 }}" alt="Card image">
                </div>
            </div>
            {% if itdetail.picture10 %}
                <div class="card bg-danger" style="max-height: 450px;">
                    <div class="card-body text-center p-0">
                        <img class="card-img-top" style="height: -webkit-fill-available;" src="http://localhost:8000/media/{{ itdetail.picture10 }}" alt="Card image">
                    </div>
                </div>
            {% else %}
                <div class="card" style="max-height: 450px; border: 0px;">
                    <div class="card-body text-center p-0">
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}

    <!-- 소개정보 / 일반정보.. -->
    <div class="card-deck p-5">
        <div class="card" style="max-height: 450px; border:0px;">
            <div class="card-body p-0">
                <h1 style="font-weight:600; color:darkslategrey;"> 
                    <h5 class="card-title">소개정보</h5>
                </h1>
                <hr style="border: solid 0.5px #969696b3;">
                <p class="card-text"> {{ itdetail.introko }}</p>
            </div>
        </div>
        
        <div class="card" style="max-height: 450px; border:0px;">
            <div class="card-body p-0">
                <h1 style="font-weight:600; color:darkslategrey;"> 
                    <h5 class="card-title">일반정보</h5>
                </h1>
                <hr style="border: solid 0.5px #969696b3;">
                <p class="card-text"> {{ itdetail.addressko }}</p>
                <hr style="border: solid 0.5px #969696b3;">
                <p class="card-text"> 대표메뉴 : </p>
                <hr style="border: solid 0.5px #969696b3;">
                <p class="card-text"> 운영시간 : </p>
                <hr style="border: solid 0.5px #969696b3;">
                <p class="card-text"> {{ itdetail.trafficko }}</p>
                <hr style="border: solid 0.5px #969696b3;">
            </div>
        </div>
    </div>


    <!-- django-waterfall 이미지 들어가는 부분.. -->
    <div class="card p-5" style="padding-top: 0px!important;">
        <h1 style="font-weight:600; color:darkslategrey;"> 
            <h5 class="card-title" style="padding: 1.5em 0; margin: 0px;">유사한 여행 정보 보기</h5>
        </h1>
        <div class=container style="margin:0px; padding:0px; max-width:1920;">
            <div class=waterfall> 
            </div>
        </div>
    </div>
    
    <!-- DB 에서 tripguide(InfoTravel) 가져오기... -->
    <script id=waterfall-template type=text/template>
        {% for itdetail in itdetails %}
        <ul class="list-group">
            <li class="list-group-item">
                <a href="javascript:itdetailpath('{{ itdetail.part }}', {{ citydetails_id }}, {{ itdetail.id }});"> <img src="http://localhost:8000/media/{{ itdetail.picture1 }}" alt=""> </a>
            </li>
            <li class="list-group-item">
                <!-- <button type="button" class="btn btn-default btn-xs" title="thumb up">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" title="thumb down">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </button> -->
                <span class="fa fa-heart" style="font-size:16px; float:right;">
                    <span>{{ itdetail.like_count }}</span>
                </span>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <!-- <div class="media-left">
                        <a href="javascript:;"> <img class="media-object img-rounded" style="width: 30px; height: 30px;" src="{% static 'images/avatar_30.png' %}" /> </a>
                    </div> -->
                    <div class="media-body">
                        <h5 class="media-heading">{{ itdetail.companyko }}</h5> 
                        <small style="color:blue;">{{ itdetail.get_part_display }}</small><br>
                        <small>{{ itdetail.introko|truncatewords:7 }}</small> 
                    </div>
                </div>
            </li>
        </ul>
        {% endfor %}
    </script>   

    </div>  <!-- end detailbase -->   



    <!-- googmap.. -->
    <div id="map" style="height: 80%;"></div>
    <div id="content" style="height: 40px; width: 150px; text-align: center; overflow:scroll;">
        <h5 style="margin: 0px;">{{ itdetail.companyko }}</h5>
        <p> {{ itdetail.get_part_display }}</p>
    </div>


    <!-- youtube search -->
    <div id="youtubsearch" style="padding:0 40;">
        <nav class="navbar navbar-light bg-faded">
            <div class="row" style="width: 100%;">
                    <div class="col-sm-2">
                        <h4 class="logo" style="width: 100%;"><i class="fa fa-youtube yt"></i><span>youtube search</span></h4>
                    </div>
                <div class="col-sm-10">
                    <form class="form-inline " id="search-form" name="search-form" onSubmit="return search()">
                        <table width="100%">
                            <tr>
                                <td width="100%">
                                    <div class="d3 float-right" style="width:100%;" >	
                                        <input class="form-control search-field" type="search" id="query" style="width:100%;"  placeholder="Search Youtube">
                                        <span class="focus-border">
                                            <i></i>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger my-2 my-sm-0 " type="submit" id="search-btn"  name="search-btn" value="">Search</button>
                                </td>
                            </tr>                
                        </table>  
                    </form>
                </div>
            </div>
            
        </nav>
        
        <div class="content-youtube">
        <div class="container-fluid" id="results">               
            
        </div> <!-- ENd of container fluid -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">    <div id="btn-cnt"></div> </div>
            </div>
        </div>
        </div> <!-- End of content -->
    </div> <!-- Ene of youtubesearch -->



    <!-- Footer -->
    <footer class="page-footer font-small blue" style="background-color:#212529; margin-top:0px; ">
        <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
        </div>
    </footer>
    <!-- Footer -->

    <script type="text/javascript">
        $('.waterfall')
            .data('bootstrap-waterfall-template', $('#waterfall-template').html())
            .on('finishing.mystist.waterfall', function() {
                setTimeout(function() { // simulate ajax
                    $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
                }, 2000);
            })
            .waterfall()
    
        // itdetail 클릭시 tripguidedetail 로 넘어가기..
        function itdetailpath(part, citydetails_id, itdetail_id) {
            switch(part){
                case "Eat":
                    location.href = "http://localhost:8000/citymain/"+citydetails_id+"/tripguidedetail/1/"+itdetail_id;
                    break;
                case "Drink":
                    location.href = "http://localhost:8000/citymain/"+citydetails_id+"/tripguidedetail/2/"+itdetail_id;
                    break;
                case "Fun":
                    location.href = "http://localhost:8000/citymain/"+citydetails_id+"/tripguidedetail/3/"+itdetail_id;
                    break;
                case "See":
                    location.href = "http://localhost:8000/citymain/"+citydetails_id+"/tripguidedetail/4/"+itdetail_id;
                    break;
                case "Sleep":
                    location.href = "http://localhost:8000/citymain/"+citydetails_id+"/tripguidedetail/5/"+itdetail_id;
                    break;
                case "Buy":
                    location.href = "http://localhost:8000/citymain/"+citydetails_id+"/tripguidedetail/6/"+itdetail_id;
                    break;
            }
        }

        // Initialize and add the map
        function initMap() {
            // console.log("{{ itdetail.itlocation.x }}");
            
            // The location of Uluru
            var uluru = {lat: {{ itdetail.itlocation.y }}, lng: {{ itdetail.itlocation.x }}};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 16, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});

            // Info Window
            var infoWindow = new google.maps.InfoWindow({
                    pixelOffset: new google.maps.Size(0,-50),
                    content: document.getElementById('content')
            });
            infoWindow.setPosition(uluru);
            // infoWindow.setContent("{{ itdetail.companyko }}");
            infoWindow.open(map);
        }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9P6UvbrGzl1-ooprZXq4HghPXX27Q7Po&callback=initMap">
    </script>

    {% endblock %}

    {% block footers %}
    {% endblock %}