{% extends 'client/base.html'%}
{% load i18n static %}

{% block headers %}
<link rel=stylesheet href="{% static 'css/main.css' %}">
<!-- <script src="{% static 'vendor/vendor.js' %}"></script> -->
<script src="{% static 'js/bootstrap-waterfall.js' %}"></script>
{% endblock %}

{% block contents %}

<div class="linepartition"></div>
  
<!-- django-waterfall 이미지 들어가는 부분.. -->
<a href="{% url 'clientapp:tripcurator' citydetails.id %}" class="card-link text-dark">
    <h5 class="card-title" style="padding: 30px 45px 0px 45px; position: absolute;top: 80px;z-index: 999;">Trip Coordinator</h5>
</a>

<div class="card p-5" style="top: 120px; border:0px;">
    <div class=container style="margin:0px; padding:0px; max-width:1920px;">
        <div class=waterfall> 
        </div>
    </div>
</div>

<!-- DB 에서 tripcourse(travelplan) 가져오기... -->
<script id=waterfall-template type=text/template>
    {% for travelplan in travelplans %}
    <ul class="list-group">
        <li class="list-group-up">
            <a href="{% url 'clientapp:tripcoursedetail' citydetails_id=citydetails.id tripcourse_id=travelplan.id %}"> 
                <img src="{{ travelplan.poipoint_totals.first.picture1.url }}" alt=""> </a>
        </li>
        <!-- <li class="list-group-item">
            <span class="fa fa-heart" style="font-size:16px; float:right;">
                <span>{{ travelplan.like_count }}</span>
            </span>
            <span class="fa fa-map-marker" style="font-size:16px; float:left;">
                <span>{{ travelplan.inlinecount }}</span>
            </span>
        </li> -->
        <li class="list-group-it">
            <div class="media" style="color: black;display: grid;">
                <div class="media-body">
                    
                    {% if LANGUAGE_CODE == 'ko' %}
                    <h5 class="media-heading">{{ travelplan.titleko }}</h5> 
                    <small>{{ travelplan.courseinfoko|truncatewords:10 }}</small><br>
                    <!-- <small style="color:blue;">{{ travelplan.get_course_display }}</small>  -->
                    <small style="color:#c83a54;text-decoration: underline;"> {% trans "코스타입" %} : {{ travelplan.get_course_display }} </small>
                    {% elif LANGUAGE_CODE == 'en' %}
                    <h5 class="media-heading">{{ travelplan.titleeng }}</h5> 
                    <small>{{ travelplan.courseinfoeng|truncatewords:10 }}</small><br>
                    <small style="color:#c83a54;text-decoration: underline;"> {% trans "코스타입" %} : {{ travelplan.course }} </small>
                    {% elif LANGUAGE_CODE == 'vi' %}
                    <h5 class="media-heading">{{ travelplan.titleven }}</h5> 
                    <small>{{ travelplan.courseinfoven|truncatewords:10 }}</small><br>
                    <small style="color:#c83a54;text-decoration: underline;"> {% trans "코스타입" %} : {{ travelplan.course }} </small> 
                    {% endif %}

                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</script>



<script>
    $('.waterfall')
        .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        .on('finishing.mystist.waterfall', function() {
            setTimeout(function() { // simulate ajax
                $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
            }, 2000);
        })
        .waterfall()
</script>

{% endblock %}

{% block subcontents %}
{% endblock %}

<!-- Footer -->
{% block footers %}
<footer class="page-footer font-small blue" style="background-color:#212529; margin-top:40px; ">
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright : 
        <a href="#"> Take a Trips</a>
    </div>
</footer>
{% endblock %}
<!-- Footer -->